@using ePonti.BOL
@using ePonti.BLL.Common

@{
    ViewBag.Title = "Account Info";
}

<div class="container-fluid">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    @{
        var SiteModel = ViewBag.SiteCoInfo as SiteCompanies;
    }
    <div id="viewArea">
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <div class="row">
                    <div class="col-sm-6 headerText">@SiteModel.CoName</div>
                    <div class="col-sm-5 headerText">Logo</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="subText">@SiteModel.CoAddress1</div>
                        </div>
                        <div class="row">
                            <div class="subText">@SiteModel.CoAddress2</div>
                        </div>
                        <div class="row">
                            <div class="subText">@SiteModel.CoCity, @SiteModel.CoState, @SiteModel.CoZip</div>
                        </div>
                        <div class="row">
                            <div class="subText">@SiteModel.CoCountry</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        @if (ViewBag.ImageData != null)
                        {
                            <img src="@ViewBag.ImageData" width="230" />
                        }
                        else
                        {
                            <img src="~/images/ePontiDecLogoV10.png" width="230" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-1 dropdown buttons">
                        <a class="btn btn-default" href="@Url.Action("Edit", "coAccount", routeValues: null)">Edit</a>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1 dropdown buttons">
                        <a class="btn btn-default" href="@Url.Action("Upload", "coAccount")">Upload</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 row"></div>
            <div class="col-sm-5 row">
                <div class="row">
                    <div class="col-sm-8 optionGridHeaderText">Users</div>
                    <div class="col-sm-2 dropdown buttons">
                        <a class="btn btn-default" href="@Url.Action("Invite", "../Account", routeValues: null)">Invite</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 list-group">
                        <table class="table table-hover grids" id="users-grid">
                            <tr>
                                <th width="30"></th>
                                <th>User</th>
                                <th class="col-sm-3">Job</th>
                                <th class="col-sm-2">Role</th>
                                <th class="col-sm-1">Status</th>
                                <th width="10"></th>
                            </tr>
                            @if (ViewBag.CoSiteUsers != null)
                            {
                                foreach (GetSiteUsersBySiteCoID_Result item in ViewBag.CoSiteUsers)
                                {
                                    <tr class="item-row">
                                        <td>
                                            <a href="@Url.Action("userInfo", "coaccount", new { area="options", id=item.ViewID })">
                                                <img src="~/images/View.png" width="20">
                                            </a>
                                        </td>
                                        <td>@item.User</td>
                                        <td>@item.Job</td>
                                        <td>@item.Role</td>
                                        <td>@item.Status</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 optionGridHeaderText">Profiles</div>
                    <div class="col-sm-2 dropdown buttons">
                        <button type="button" class="btn btn-default add-item" data-grid="profiles-grid" role="button">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 list-group">
                        <table class="table table-hover grids" id="profiles-grid">
                            <tr>
                                <th width="30"></th>
                                <th>Name</th>
                                <th class="col-sm-1">Order</th>
                                <th width="10"></th>
                            </tr>
                            @if (ViewBag.CoProfiles != null)
                            {
                                foreach (GetProfilesBySiteCoID_Result item in ViewBag.CoProfiles)
                                {
                                    <tr class="item-row">
                                        <td>
                                            <a href="@Url.Action("profileInfo", "coaccount", new { area="options", id=item.ViewID })">
                                                <img src="~/images/View.png" width="20">
                                            </a>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Order</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                            @ProfileItems(IsTemplate: true)
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 optionGridHeaderText">Paytypes</div>
                    <div class="col-sm-2 dropdown buttons">
                        <button type="button" class="btn btn-default add-item" data-grid="paytypes-grid" role="button">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 list-group">
                        <table class="table table-hover grids" id="paytypes-grid"
                               data-edit="@Url.Action("UpdatePayTypes")"
                               data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.CoAccount_PayTypes.ToString() })">
                            <tr>
                            <tr>
                                <th>Name</th>
                                <th class="col-sm-1">Order</th>
                                <th class="col-sm-2">Factor</th>
                                <th width="20"></th>
                            </tr>
                            @if (ViewBag.CoPayTypes != null)
                            {
                                foreach (GetPayTypesBySiteCoID_Result item in ViewBag.CoPayTypes)
                                {
                                    <tr class="item-row">
                                        <td data-name="Name">@item.Name</td>
                                        <td data-name="Order">@item.Order</td>
                                        <td data-name="Factor">@item.Factor</td>
                                        <td class="actions">
                                            @actionButtons(@item.ViewID)
                                        </td>
                                    </tr>
                                }
                            }
                            @NameOrderItems(IsTemplate: true)
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 row"></div>
            <div class="col-sm-5 row">
                <div class="row">
                    <div class="col-sm-8 optionGridHeaderText">Licenses</div>
                    <div class="col-sm-2 dropdown buttons">
                        <a class="btn btn-default" href="@Url.Action("AddingLicenses", "CoAccount", routeValues: null)">Add</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 list-group">
                        <table class="table table-hover grids" id="licenses-grid">
                            <tr>
                                <th width="10"></th>
                                <th class="col-sm-2">Version</th>
                                <th>Description</th>
                                <th class="col-sm-1">Ordered</th>
                                <th class="col-sm-1">Consumed</th>
                                <th width="10"></th>
                            </tr>
                            @if (ViewBag.CoLicenses != null)
                            {
                                foreach (GetLicensesBySiteCoID_Result item in ViewBag.CoLicenses)
                                {
                                    <tr class="item-row">
                                        <td></td>
                                        <td>@item.Version</td>
                                        <td>@item.Description</td>
                                        <td>@item.Ordered</td>
                                        <td>@item.Consumed</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                @using (Html.BeginForm("UpdatePayroll", "CoAccount", FormMethod.Post, new { id = "update-payroll-form" }))
                {
                    var payroll = ViewBag.CoPayroll as GetPayrollBySiteCoID_Result;
                    <div class="row">
                        <div class="col-sm-8 optionGridHeaderText">Payroll</div>
                    </div>
                    <div class="main-form-alert alert soft-hide"></div>
                    <div class="col-sm-8 form-group">
                        @*This will utilize ViewBag.Frequency to populate the list*@
                        <label class="col-sm-3 control-label formLabelText" for="frequency">Frequency</label>
                        <div class="col-sm-7 formFeildText">
                            @Html.DropDownList("PayrollFrequencyID", ViewBag.Frequency as SelectList,
                       new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-8 form-group">
                        <label class="col-sm-3 control-label formLabelText" for="jobStatus">Start Date</label>
                        <div class="col-sm-7 formFeildText">
                            @if (payroll != null)
                            {
                                <input class="form-control" type="date" value="@string.Format("{0:yyyy-MM-dd}", payroll.Start)" name="PayrollPeriodStart">
                            }
                            else
                            {
                                <input class="form-control" type="date" name="PayrollPeriodStart">
                            }
                        </div>
                    </div>
                    <div class="col-sm-2 dropdown buttons">
                        <button type="button" class="btn btn-default update-payroll" data-grid="calendars-grid" role="button">Update</button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 row"></div>
            <div class="col-sm-8 optionGridHeaderText">Calendars</div>
            <div class="col-sm-2 dropdown buttons">
                <button type="button" class="btn btn-default add-item" data-grid="calendars-grid" role="button">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 row"></div>
            <div class="col-sm-10 list-group">
                <table class="table table-hover grids" id="calendars-grid"
                       data-edit="@Url.Action("UpdateCalendar")"
                       data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.CoAccount_Calendar.ToString() })">
                    <tr>
                        <th>Name</th>
                        <th class="col-sm-1">Monday</th>
                        <th class="col-sm-1">Tuesday</th>
                        <th class="col-sm-1">Wednesday</th>
                        <th class="col-sm-1">Thursday</th>
                        <th class="col-sm-1">Friday</th>
                        <th class="col-sm-1">Saturday</th>
                        <th class="col-sm-1">Sunday</th>
                        <th class="col-sm-1">Daily Start</th>
                        <th width="20"></th>
                    </tr>
                    @if (ViewBag.CoCalendar != null)
                    {
                        foreach (GetCalendarsBySiteCoID_Result item in ViewBag.CoCalendar)
                        {
                            <tr class="item-row">
                                <td data-name="Name">@item.Name</td>
                                <td data-name="Monday">@item.Monday</td>
                                <td data-name="Tuesday">@item.Tuesday</td>
                                <td data-name="Wednesday">@item.Wednesday</td>
                                <td data-name="Thursday">@item.Thursday</td>
                                <td data-name="Friday">@item.Friday</td>
                                <td data-name="Saturday">@item.Saturday</td>
                                <td data-name="Sunday">@item.Sunday</td>
                                <td data-name="DailyStartTime">@item.DailyStartTime</td>
                                <td class="actions">
                                    @actionButtons(@item.ViewID)
                                </td>
                            </tr>
                        }
                    }
                    @CalendarItems(IsTemplate: true)
                </table>
            </div>
        </div>
    </div>
</div>

@helper NameOrderItems(string Name = "", int? Order = null, int ViewID = 0, decimal Factor = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
        <td class="factor" data-name="factor">@Factor</td>
        <td class="actions">
            @actionButtons(ViewID)
        </td>
    </tr>
}

@helper ProfileItems(string Name = "", int? Order = null, int ViewID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td></td>
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
    </tr>
}

@helper CalendarItems(string Name = "", decimal Monday = 0, decimal Tuesday = 0, decimal Wednesday = 0, decimal Thursday = 0, decimal Friday = 0, decimal Saturday = 0, decimal Sunday = 0, decimal DailyStartTime = 0, int ViewID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="monday" data-name="monday">@Monday</td>
        <td class="tuesday" data-name="tuesday">@Tuesday</td>
        <td class="wednesday" data-name="wednesday">@Wednesday</td>
        <td class="thursday" data-name="thursday">@Thursday</td>
        <td class="friday" data-name="friday">@Friday</td>
        <td class="saturday" data-name="saturday">@Saturday</td>
        <td class="sunday" data-name="sunday">@Sunday</td>
        <td class="dailyStartTime" data-name="dailyStartTime">@DailyStartTime</td>
        <td class="actions">
            @actionButtons(ViewID)
        </td>
    </tr>
}

@helper actionButtons(int ViewID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
    <img class="edit" src="~/images/Edit.png" height="15" />
    <img class="save" src="~/images/Save.png" height="15" />
    <img class="cancel" src="~/images/Cancel.png" height="15" />
    <input type="hidden" class="item-id" value="@ViewID" />
}

@section scripts
    {
    <script>
        $(document).on('click', '.update-payroll', function () {

            var $form = $('#update-payroll-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: '@Url.Action("UpdatePayroll", "CoAccount")',
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        console.log(res);
                        if (res.status == 'error') {

                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Company Info saved.');
                            showAlert($alert, 'success');
                            document.location = '/Options/CoAccount/Index'
                        }
                    }
                });
            }
        });
    </script>
    }
