@model List<ePonti.BOL.ActivitiesEvents>
@using ePonti.BOL
@{
    ViewBag.Title = "Calendar";
}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-xs-8 mainGridText">Calendar</div>
        </div>
        <div class="row">
            <div class="col-xs-6 mainGridText"></div>
            <div class="col-xs-2 dropdown buttons">
                <button data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">New</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Call", "Create", "../Mobile/mCall")</li>
                    <li>@Html.ActionLink("Event", "Create", "../Mobile/mEvent")</li>
                    <li>@Html.ActionLink("Case", "Create", "../Mobile/mCase")</li>
                    <li>@Html.ActionLink("Punch Item", "Create", "../Mobile/mPunchList")</li>
                    <li>@Html.ActionLink("TimeIt", "Create", "../Mobile/mTimeIt")</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 sectionGrids" id="mcalendar"></div>
        </div>
    </div>
</div>
