@model ePonti.web.Models.DeliveryRequestModels.EditDeliveryRequest
@using ePonti.BLL.Common

<div class="container body-content edit-delivery-page">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-10 col-lg-11 homeMenuText">Edit Delivery Request Info</div>
        <div>
            <a href="#" class="pageHeaderClose save-main-form"><img src="~/images/Save.png" width="20"></a>
            <span><a href="javascript:closeEdit()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "DeliveryInfo", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main-form" }))
    {
        <div class="custom-font">
            @Html.ValidationSummary()
            <div class="main-form-alert alert soft-hide"></div>
            @Html.HiddenFor(p => p.RequestID)
        </div>
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <div class="row">
                        <div class="headerText">@Model.RequestNumber</div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="row">
                                <div class="col-sm-8 col-lg-6 subText">@Model.ProjectName</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-lg-6 subText">@Model.CreatedOn.ToCustomDateTimeString()</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="headerText"></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Delivery, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-3 col-lg-2 formFeildText">
                        @Html.TextBoxFor(p => p.Delivery, new { @class = "datetime-picker form-control", data_value = Model.Delivery.ToCustomDateStringForPicker() })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.TypeID, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-4 col-lg-3 formFeildText">
                        @Html.DropDownListFor(p => p.TypeID, ViewBag.CustodyLocations as SelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.StatusID, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-4 col-lg-3 formFeildText">
                        @Html.DropDownListFor(p => p.StatusID, ViewBag.DeliveryStatus as SelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Note, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-9 col-lg-8 formFeildText">
                        @Html.TextBoxFor(p => p.Note, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="headerText"></div>
                </div>
            </div>
    }
</div>
