@using System.Data.Entity.Core.Objects
@using ePonti.BLL.Common;
@using ePonti.BOL
@{
    ViewBag.Title = "Delivery Request Info";
    var request = ViewBag.DeliveryInfo as GetDeliveryInfoByRequestID_Result;
    var items = ViewBag.Items as List<GetDeliveryInfoItemsByRequestID_Result>;
    var projectid = ViewBag.ProjectID;

    var nav = Url.Nav(EnumWrapper.Pages.DeliveryRequestDetails, request.ViewID);
}

<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div class="delivery-info-page" id="viewArea">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.ActionPrev()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a>
            <input type="hidden" id="RequestID" value="@request.ViewID" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="col-sm-12 row">
                <div class="col-sm-10 headerText">@request.Delivery_</div>
            </div>
            <div class="row">
                <div>
                    <div class="row">
                        <div class="col-sm-8 subText">@request.Project</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 subText">@request.Type</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 subText">@(request.Date.HasValue ? request.Date.Value.Add(request.Time ?? new TimeSpan(0)).ToCustomDateTimeString() : "" )</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 subText">@request.Status</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 subText">@request.Notes</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="headerText"></div>
            </div>
            <div class="row">
                <div class="col-sm-5 headerText"></div>
                <div class="col-sm-5 dropdown buttons">
                    <a id="open-edit-popup" class="btn btn-default" onclick="openEdit()" role="button" data-url="@Url.Action("Edit",new {id=request.ViewID })">Edit</a>
                    <span>
                        <a class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Call", "create", new { controller = "calls", area = "common", projectid = projectid, nav })</li>
                            <li>@Html.ActionLink("Case", "create", new { controller = "cases", area = "common", projectid = projectid, nav })</li>
                            <li>@Html.ActionLink("TimeIt", "create", new { controller = "timeits", area = "common", projectid = projectid, nav })</li>
                        </ul>
                    </span>
                    <span>
                        <a class="btn btn-default" href="Reports.html">Reports</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 headerText">Items</div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 list-group">
                <table class="table table-hover grids requests">
                    <tr>
                        <th width="20"></th>
                        <th class="tabText">Product</th>
                        <th class="col-sm-3 tabText">POR#</th>
                        <th class="col-sm-3 tabText">Custody</th>
                        <th class="col-sm-2 tabText">Status</th>
                    </tr>
                    @foreach (var item in items)
                    {
                        <tr class="request">
                            <td><input type="checkbox" class="check-request" /><input type="hidden" class="request-item-id" value="@item.ViewID" /></td>
                            <td>@item.Item</td>
                            <td>@item.Por_</td>
                            <td>@item.Custody</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 headerText">Update</div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label formLabelText">Custody</label>
                <div class="col-sm-3 formFeildText">
                    @Html.DropDownList("UpdateCustody", ViewBag.CustodyLocations as SelectList, "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label formLabelText">Delivered</label>
                <div class="col-sm-3 formFeildText">
                    @Html.TextBox("UpdateDelivered", null, new { @class = "form-control datetime-picker" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label formLabelText">Status</label>
                <div class="col-sm-3 formFeildText">
                    @Html.DropDownList("UpdateStatus", ViewBag.DeliveryStatus as SelectList, "", new { @class = "form-control" })
                </div>
                <div class="row">
                    <div class="col-sm-1 dropdown buttons">
                        <a role="button" class="homeLinks update-request" data-update="@Url.Action("UpdateDeliveryRequest")"><img src="~/images/Save.png" width="20"></a>
                    </div>
                    <div class="col-sm-3 dropdown buttons">
                        <div class="delivery-update-alert alert soft-hide"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/pages/delivery.js")"></script>
}
