@model ePonti.BOL.GetProjectPunchListByID_Result
@using System.Data.Entity.Core.Objects
@using ePonti.BOL;
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Punch Item Info";
    Layout = "~/Areas/Mobile/Views/Shared/_DetailsLayout.cshtml";
}
<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div class="container-fluid" id="viewArea">
    <div class="row">
        <div class="col-xs-offset-5 col-xs-5 dropdown buttons">
            <button class="btn btn-default" onclick="openEdit()" id="open-edit-popup" role="button">Edit</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="headerText">@Model.Description</div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="subText">@Model.Project</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Pl_</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Type</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Department</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Division</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Area</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Priority</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Status</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.DueDate.ToCustomDateString()</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.EstHrs Hours</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Creator</div>
                </div>
                <div class="row">
                    <div class="headerText"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-1 control-label formLabelText"></div>
            <div class="col-xs-9 formFeildText">@Model.Notes</div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-1 control-label formLabelText">Comments</div>
            <div class="col-xs-9 formFeildText">
                <textarea class="form-control" rows="6" id="caseComment" name="caseComment"></textarea>
            </div>
            <div class="row">
                <input type="hidden" name="punchListId" id="punchListId" value="@Model.View" />
                <a role="button" class="homeLinks add-comment"><img src="~/images/Save.png" width="20"></a>
            </div>
            <div class="row">
                <div class="soft-hide margin-top-10 alert alert-success cases-alert"></div>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 caseComments subText">
                <table class="table table-hover grids">
                    <tbody>
                        @if (ViewBag.PunchListComments != null)
                        {
                            foreach (var item in ViewBag.PunchListComments as ObjectResult<GetCommentsByProjectPunchListID_Result>)
                            {
                                <tr>
                                    <td class="formFeildText">@item.Comment</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $('#ProjectID').on('change', function () {
            var projID = $(this).val();
            if (!projID) { return; }

            $.get('@Url.Action("GetProjectData")', { Id: projID }, function (res) {
                if (res) {
                    fillDropdown($('#DivisionID'), res.divisions, 'Name', 'Id');
                    fillDropdown($('#AreaID'), res.area, 'Name', 'Id');
                }
            });
        });

        $('.add-comment').on('click', function () {
            var comment = $('#comment').val();
            var plid = $('#punchListId').val();

            $.post('@Url.Action("AddPunchListComment")', { PunchListID: plid, Comment: comment }, function (res) {

                var $alert = $('.punchlist-alert');
                if (res && res.result) {
                    $('#comment').val('');
                    $alert.text('Saved!');
                    showAlert($alert, 'success', 1500);
                    $('.punchListComments ul').prepend('<li>' + comment + '</li>');
                    document.location.reload();
                } else {
                    $alert.text('Error! Please retry!');
                    showAlert($alert, 'danger', 3000);
                }
            });
        });

        $('#open-edit-popup').on('click', function () {
            $('#editableArea').load('@Url.Action("edit",new { id=Model.View, contactid = Request.QueryString["contactid"]})', function () {
                $('#due').val($('#due').attr('data-value'));
                initDatePicker();
                initNumberSpinner();
                $('.date-picker').removeAttr("data-val-date");
            });
        })

        $('body').on('click', '.save-punchitem', function () {
            var $form = $('#main-form');
            if ($form.valid()) {
                var itemId = '@Model.View';
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Punch Item saved.');
                            showAlert($alert, 'success');
                            document.location.reload();
                        }
                    }
                });
            }
        })
    </script>
}
