@model ePonti.BOL.GetProjectCaseByID_Result
@using System.Data.Entity.Core.Objects
@using ePonti.BOL;
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Case Info";
    Layout = "~/Areas/Mobile/Views/Shared/_DetailsLayout.cshtml";
}
<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div class="container-fluid" id="viewArea">
    <div class="row">
        <div class="col-xs-offset-5 col-xs-5 dropdown buttons">
            <button class="btn btn-default" onclick="openEdit()" id="open-edit-popup" role="button">Edit</button>
            <span>
                <button class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Event", "create", "mEvent")</li>
                    <li>@Html.ActionLink("Call", "create", "mCall")</li>
                    <li>@Html.ActionLink("Punch Item", "create", "mPunchList")</li>
                    <li>@Html.ActionLink("TimeIt", "create", "mTimeIt")</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="headerText">@Model.Subject</div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="subText"></div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Job</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Type</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Priority</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Status</div>
                </div>
                <div class="row">
                    <div class="subText">@((ViewBag.Created as DateTime?).ToCustomDateString())</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.DueDate.ToCustomDateString()</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Creator</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-2 control-label formLabelText">Resource</div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 formFeildText">
                @Html.DropDownList("resourceId", ViewBag.Resource as SelectList, new { @class = "form-control resourceId" })
            </div>
            <div class="row">
                <a class="homeLinks update-info-details"><img src="~/images/Save.png" width="20"></a>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 formFeildText">@Model.Note</div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-2 control-label formLabelText">Comments</div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 formFeildText">
                <textarea class="form-control" rows="6" id="caseComment" name="caseComment"></textarea>
            </div>
            <input type="hidden" name="caseId" id="caseId" value="@Model.CaseID" />
            <a role="button" class="homeLinks add-comment"><img src="~/images/Save.png" width="20"></a>
        </div>
        <div class="row">
            <div class="soft-hide margin-top-10 alert alert-success cases-alert"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-10 caseComments formFeildText">
                <table class="table table-hover grids">
                    <tbody>
                        @if (ViewBag.CaseComments != null)
                        {
                            foreach (var item in ViewBag.CaseComments as ObjectResult<GetCaseCommentsByCaseID_Result>)
                            {
                                <tr>
                                    <td class="col-xs-3 formFeildText">@item.CreateDate.ToCustomDateTimeString()</td>
                                    <td class="col-xs-4 formFeildText">@item.Creator</td>
                                    <td class="formFeildText">@item.Comment</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $('.add-comment').on('click', function () {
            var comment = $('#caseComment').val();
            var casID = $('#caseId').val();
            var resourceid = $('.resourceId').val();

            $.post('@Url.Action("AddCaseComment")', { CaseID: casID, ResourceID: resourceid, Comment: comment }, function (res) {

                var $alert = $('.cases-alert');
                if (res && res.result) {
                    $('#caseComment').val('');
                    $alert.text('Saved!');
                    showAlert($alert, 'success', 1500);
                    //$('.caseComments ul').prepend('<li>' + comment + '</li>');

                    var row = $('.comment-template').clone()
                        .removeClass('data-template')
                        .find('.date').text(res.date).end()
                        .find('.name').text($('.resourceId').find('option:selected').text()).end()
                        .find('.comment').text(comment).end();
                    $('.comment-template').parent().prepend(row);
                } else {
                    $alert.text('Error! Please retry!');
                    showAlert($alert, 'danger', 3000);
                }
            });
        });

        $('#open-edit-popup').on('click', function () {
            $('#editableArea').load('@Url.Action("edit",new { id=Model.CaseID, contactid = ViewBag.SelectedContactID })', function () {
                $('#created').val($('#created').attr('data-value'));
                $('#due').val($('#due').attr('data-value'));
                initDatePicker();
                $('.date-picker').removeAttr("data-val-date");
            });
        })

        $('body').on('click', '.save-case', function () {
            var $form = $('#main-form');
            if ($form.valid()) {
                var caseid = '@Model.CaseID';
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Case saved.');
                            showAlert($alert, 'success');
                            document.location.reload();
                        }
                    }
                });
            }
        })
    </script>
}
