@using ePonti.BOL
@{
    ViewBag.Title = "Salez Toolz Sessions";
}

<div class="col-sm-12 container-fluid">
    <div class="row">
        <div class="col-sm-8 mainGridText">@ViewBag.Title</div>
        <div class="buttons dropdown">
            @*This begins the process of importing the selected Session*@
            <a class="btn btn-default" role="button" aria-haspopup="true" aria-expanded="false">Import</a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-lg-11 sectionGrids">
            @*This displays the List of Salez Toolz Session that have not been transferred*@
            <table class="table table-hover grids">
                <tr>
                    <th width="20"></th>
                    <th width="30"></th>
                    <th>Session</th>
                    <th class="col-sm-4">Customer</th>
                </tr>
                @*@if (ViewBag.CoReports != null)
            {
                foreach (GetReportsBySiteCoID_Result item in ViewBag.CoReports)
                {
                        <tr class="item-row">
                            <td height="50"><input class="item-id" type="checkbox" data-id="@item.ViewID" /></td>
                            <td height="40"><img src="~/images/Reporting.png" width="30" data-id="@item.ViewID"></td>
                            <td>@item.Group</td>
                            <td>@item.Report</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                }*@
            </table>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
</div>
