@model ePonti.web.Models.CaseModels.NewCase

@using (Html.BeginForm((string)ViewBag.FormAction, "cases", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.CaseID)

    <div class="form-group">
        <div class="headerText"></div>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1 custom-font">
        @Html.ValidationSummary()
        <div class="main-form-alert alert soft-hide"></div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Job</div>
        <div class="col-xs-9 col-sm-6 formFeildText">
            @Html.DropDownListFor(p => p.JobID, ViewBag.Jobs as SelectList, ViewBag.IsFieldsReadOnly == true ? (object)new { @class = "form-control", @disabled = "true" } : (object)new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Type</div>
        <div class="col-xs-9 col-sm-4 formFeildText">
            @Html.DropDownListFor(p => p.TypeID, ViewBag.CaseTypes as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Concern</div>
        <div class="col-xs-9 col-sm-6 formFeildText">
            @Html.TextBoxFor(p => p.Concern, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Priority</div>
        <div class="col-xs-9 col-sm-3 formFeildText">
            @Html.DropDownListFor(p => p.Priority, ViewBag.Priorities as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Status</div>
        <div class="col-xs-9 col-sm-3 formFeildText">
            @Html.DropDownListFor(p => p.StatusID, ViewBag.Status as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Date</div>
        <div class="col-xs-9 col-sm-3 formFeildText">
            @Html.TextBoxFor(p => p.Created, ViewBag.IsFieldsReadOnly == true ? (object)new { @class = "form-control", data_value = @ViewBag.CreatedString, id = "created", @disabled = "true" } : (object)new { @class = "form-control date-picker", data_value = @ViewBag.CreatedString, id = "created" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Due</div>
        <div class="col-xs-9 col-sm-3 formFeildText">
            @Html.TextBoxFor(p => p.Due, new { @class = "form-control date-picker", data_value = @ViewBag.DueString, id = "due" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Resource</div>
        <div class="col-xs-9 col-sm-4 formFeildText">
            @Html.DropDownListFor(p => p.ResourceID, ViewBag.Resource as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Creator</div>
        <div class="col-xs-9 col-sm-4 formFeildText">
            @Html.DropDownListFor(p => p.CreatorID, ViewBag.Creator as SelectList, ViewBag.IsFieldsReadOnly == true ? (object)new { @class = "form-control", @disabled = "true" } : (object)new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-sm-2 control-label formLabelText">Note</div>
        <div class="col-xs-9 col-sm-9 formFeildText">
            @Html.TextAreaFor(p => p.Notes, ViewBag.IsFieldsReadOnly == true ? (object)new { @class = "form-control", @rows = "10", @id = "callNoteId", @disabled = "true" } : (object)new { @class = "form-control", @rows = "10", @id = "callNoteId" })
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>

}
