<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ePonti.terms.Resource1.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom CSS -->
    <link href="~/Content/ePontiV9Prototype.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Special Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" />
    <!-- css -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="~/Content/skins/default.css" rel="stylesheet" />
    @*Publish TrustedSite Trustmark*@
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>

<body>
    <div id="wrapper">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img height="100" href="index.html" src="~/images/ePontiDecLogoV10.png" />
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "homeMenuText" })</li>
                        <li>@Html.ActionLink("Solution", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "homeMenuText" })</li>
                        <li>@Html.ActionLink("blog", "blog", "Home", routeValues: null, htmlAttributes: new { @class = "homeMenuText" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "homeMenuText" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "homeMenuText" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 col-lg-1"></div>
                        <div class="col-sm-4 col-lg-4">
                            <div class="homeFooterHeaderText">ePonti</div>
                            <div class="homeFooterText">14362 N Frank Lloyd Wright Blvd.</div>
                            <div class="homeFooterText">Suite 1000</div>
                            <div class="homeFooterText">Scottsdale, AZ 85320</div>
                            <div class="homeFooterHeaderText"></div>
                            <div class="homeFooterText">855.707.0001</div>
                            <div class="homeFooterText">info@eponti.com</div>
                        </div>
                        <div class="col-sm-2 col-lg-2">
                            <div>
                                <ul class="link-list">
                                    <li>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("Solution", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("Pricing", "Pricingbox", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("blog", "blog", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "homeFooterText" })</li>
                                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "homeFooterText" })</li>*@
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div>
                                <ul class="link-list">
                                    <li class="homeFooterSubHeaderText">Latest posts</li>
                                    <li>@Html.ActionLink("Our Latest Whiteboard Video", "blog", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                    <li>@Html.ActionLink("Construction Based Software What Is It?", "blog", "Home", routeValues: null, htmlAttributes: new { @class = "homeFooterText" })</li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2 col-lg-offset-10 col-lg-2 link-list">
                        <div class="homeFooterText">&copy; @ePonti.terms.Resource1.AppStdFooter</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/portfolio/jquery.quicksand.js"></script>
    <script src="~/Scripts/portfolio/setting.js"></script>
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/animate.js"></script>
    <script src="~/Scripts/custom.js"></script>

</body>
</html>
