@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="~/images/slides/WorkSmarter.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>work smarter, not harder</h3>
                                <p>
                                    Provides real-time collaboration unprecedented automation, sharing information
                                    in real time, anytime, anywhere on multiple devices
                                </p>
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-theme" })
                            </div>
                        </li>
                        <li>
                            <img src="~/images/slides/ImproveProductivity.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>improve productivity</h3>
                                <p>
                                    Automate purchase order requests & work orders, Manage multiple change order
                                    request concurrently
                                </p>
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-theme" })
                            </div>
                        </li>
                        <li>
                            <img src="~/images/slides/ReduceCosts.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>reduce costs</h3>
                                <p>
                                    acurate job costing, less it expense, affordable pricing
                                </p>
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-theme" })
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h1>We’re Making Mondays Better for Contractors & Their Customers</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Who</h4>
                                <div class="icon">
                                    <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <p>
                                    ePonti is custom designed for general contractors specialty
                                    trade contractors and custom install companies. A smooth running
                                    office, that’s the ePonti promise. It’s simple to use, secure
                                    and requires no software installation or IT Infrastructure.
                                </p>
                            </div>
                            <div class="box-bottom">
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>What</h4>
                                <div class="icon">
                                    <i class="fa fa-pagelines fa-3x"></i>
                                </div>
                                <p>
                                    It helps contractors manage their business through true
                                    project collaboration. It bridges the gap between sales,
                                    project management, purchasing, operations, and client
                                    services. Real-time access and unprecedented automation
                                    of tasks reduces redundancy and keeps everyone up to date.
                                </p>
                            </div>
                            <div class="box-bottom">
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Team</h4>
                                <div class="icon">
                                    <i class="fa fa-edit fa-3x"></i>
                                </div>
                                <p>
                                    ePonti means bridge in Italian. Project managers, sales,
                                    and purchasing managers, system engineers, accounting,
                                    operations, and office administrators are all connected
                                    through one easy to use dashboard that makes simple to
                                    perform and sharing information easy.
                                </p>
                            </div>
                            <div class="box-bottom">
                                @Html.ActionLink("Learn More", "Solution", "Home", routeValues: null, htmlAttributes: new { @class = "box-bottom" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Affordable</h4>
                                <div class="icon">
                                    <i class="fa fa-code fa-3x"></i>
                                </div>
                                <p>
                                    No hidden costs. Select from one of several flexible
                                    offers and choose the plan that works for you. Start
                                    with no commitment and go month-to-month or take
                                    advantage of our sliding scale discount structure
                                    with a cost-effective quarterly plan. Subscribers
                                    receive free online training and support.
                                </p>
                            </div>
                            <div class="box-bottom">
                                @Html.ActionLink("Learn More", "pricingbox", "Home", routeValues: null, htmlAttributes: new { @class = "box-bottom " })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="heading">Contractors are asking what would our business be like if we could:</h3>
                    <div class="row">
                        <ul>
                            <li>Access information from anywhere, anytime on multiple devices</li>
                            <li>Collaborate with colleagues and clients in real time</li>
                            <li>Reduce the number of meetings, emails, and phone calls</li>
                            <li>Keep up with revisions made to documents</li>
                            <li>Eliminate redundant work, such as duplicate data entry</li>
                            <li>Manage multiple change orders concurrently</li>
                            <li>Update existing schedules and share documents across the company</li>
                            <li>Auto-generate purchase order requests once task assignments are created</li>
                            <li>Auto-generate work orders, posts to schedule, and email notifications to team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2>With ePonti there are no cracks for changes to fall through</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
