@using ePonti.BOL
@model ePonti.web.Models.ProjectReportModel
@{
    ViewBag.Title = "Report Viewer";

    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-sm-12 pageHeader" id="printdiv">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a class="homeLinks" href="@Url.ActionPrev()"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    @if (Model.TotalRecord == 0)
    {
        <div class="row">
            <div class="col-sm-10 search-filters">
                @using (Html.BeginForm("ReportViewer", "Reports", FormMethod.Get))
                {
                    <label class="col-sm-2 control-label formLabelText">Select Project</label>
                    <div class="col-sm-6 formFeildText">
                        @Html.DropDownList("projectId", new SelectList(ViewBag.ProjectList, "Value", "Text"), "Select Project", new { @class = "col-sm-4 form-control" })
                    </div>
                    <div class="col-sm-1 formFeildText">
                        <button type="submit" role="button" class="homeLinks btn btn-default">Display</button>
                    </div>
                }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-3 pull-right">
            @if (Model != null)
            {
                <a href="javascript:window.print()" class="homeLinks btn btn-default">Print</a>
                    @Html.ActionLink("PDF", "SaveAdPdf", new { controller = "reports", area = "sections", projectid = Model.ViewID }, new { @class = "homeLinks btn btn-default" })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 sectionGrids">
            @if (Model.TotalRecord != 0)
            {
                @Html.Partial("ProjectReportView", Model)
            }
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
</div>
