@model ePonti.web.Models.QuoteModels.NewQuote

@{
    ViewBag.Title = "New Quote Info";
    ViewBag.FormAction = "create";
}

<div class="container-fluid">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-10 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-main-form"><img src="~/images/Save.png" width="20"></a>
            <span><a href="javascript:history.go(-1)"  onclick="return confirm('Do you want to cancel without saving data?')"  class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    @Html.Partial("_MainForm", Model)
</div>

@section scripts{
    <script>
        var _quoteDetailUrl = '@Url.Action("details",new {id="QUOTEID",nav=Request.QueryString["nav"] })';
        var _getContactDataUrl = '@Url.Action("GetContactData")';
        var _isCreate = true;
        var _getStageDetailsUrl = '@Url.Action("GetStageDetails")';
        var _postStagesUrl = '@Url.Action("SaveProjectStages")';
        var _postStagesDetailsUrl = '@Url.Action("SaveProjectStageDetails")';
    </script>
    <script src="@Url.Content("~/Scripts/pages/quoteinfo.js?"+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
}
