@model ePonti.BOL.GetContactInfoByContactID_Result
@using System.Data.Entity.Core.Objects
@using ePonti.BOL
@using ePonti.BLL.Common
@using ePonti.web.Common
@{
    ViewBag.Title = "Customer Portal";

    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.Dashboard, null);
}


<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-8 mainGridText">My Projects</div>
            <div class="col-sm-3 mainGridText">My Activities</div>
        </div>
        <div class="row">
            <div class="col-sm-8 mainGridText"></div>
            <div class="col-sm-1 dropdown buttons">
                <button data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">New</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Call", "Create", "Calls", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Event", "Create", "Events", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Note", "Create", "Notes", new { area = "Common", nav }, null)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 tab-pane fade" id="projects">
                <div class="col-sm-11">
                    <table class="table table-hover grids">
                        <tr>
                            <th width="50"></th>
                            <th class="tabText">Project</th>
                            <th class="col-sm-2 tabText">Status</th>
                        </tr>
                        @foreach (var item in ViewBag.Projects as ObjectResult<GetProjectsByContactID_Result>)
                        {
                            <tr>
                                <td width="30" height="50">
                                    @if (item.ProjectType == "Q")
                                    {<a href="@Url.Action("details", "quoteinfo", new { area = "pages", id = item.ViewID, nav })">
                                        <img src="~/images/Quotes.png" width="30">
                                    </a>}
                                    @if (item.ProjectType == "J")
                                    {<a href="@Url.Action("details", "jobinfo", new { area = "pages", id = item.ViewID, nav })">
                                        <img src="~/images/Jobs.png" width="30">
                                    </a>}
                                    @if (item.ProjectType == "S")
                                    {<a href="@Url.Action("details", "serviceinfo", new { area = "pages", id = item.ViewID, nav })">
                                        <img src="~/images/Service.png" width="30">
                                    </a>}
                                </td>
                                <td class="subText">@item.Project</td>
                                <td class="col-sm-3 subText">@item.Status</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-sm-3 list-group" id="activities">
                <div class="col-sm-11">
                    <table class="table table-hover grids">
                        <tr>
                            <th width="50"></th>
                            <th class="col-sm-1 tabText">Date</th>
                            <th class="tabText">Info</th>
                            <th class="col-sm-2 tabText">Status</th>
                        </tr>
                        @foreach (var item in ViewBag.Activities as ObjectResult<GetActivitiesByContactID_Result>)
                        {
                            <tr>
                                <td width="30" height="50">
                                    @if (item.ActivityType == "EV")
                                    {<a href="@Url.Action("details","events",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                        <img src="~/images/Event.png" width="30">
                                    </a>}
                                    @if (item.ActivityType == "CL")
                                    {<a href="@Url.Action("details","calls",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                        <img src="~/images/Call.png" width="30">
                                    </a>}
                                    @if (item.ActivityType == "CA")
                                    {<a href="@Url.Action("details","cases",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                        <img src="~/images/Case.png" width="30">
                                    </a>}
                                    @if (item.ActivityType == "NT")
                                    {<a href="@Url.Action("details","notes",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                        <img src="~/images/Note.png" width="30">
                                    </a>}
                                </td>
                                <td class="col-sm-1 subText">@(item.Date.HasValue ? item.Date.Value.ToCustomDateString() : "")</td>
                                <td class="subText">@item.Info</td>
                                <td class="col-sm-3 subText">@item.Status</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
