@model List<ePonti.BOL.ActivitiesEvents>
@using ePonti.BOL
@{
    ViewBag.Title = "Dashboard";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.Dashboard, null);
}

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-7 col-lg-8 mainGridText">Calendar</div>
            <div class="col-sm-4 col-lg-3 mainGridText">Activities</div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-lg-9 mainGridText"></div>
            <div class="col-sm-1 col-lg-1 dropdown buttons">
                <button data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">New</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Call", "Create", "Calls", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Event", "Create", "Events", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Note", "Create", "Notes", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Case", "Create", "Cases", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Punch Item", "Create", "PunchLists", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("TimeIt", "Create", "TimeIts", new { area = "Common", nav }, null)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 col-lg-8 sectionGrids" id="calendar"></div>
            <div class="col-sm-4 col-lg-3 list-group" id="activities">
                <div class="col-sm-11 col-lg-11">
                    <table class="table table-hover grids">
                        @if (ViewBag.SiteUserActivities != null)
                        {
                            foreach (GetActivitiesBySiteUserID_Result item in ViewBag.SiteUserActivities)
                            {
                                <tr>
                                    <td width="30" height="50">
                                        @if (item.ActivityType == "EV")
                                        {<a href="@Url.Action("details","events",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                            <img src="~/images/Event.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CL")
                                        {<a href="@Url.Action("details","calls",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                            <img src="~/images/Call.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CA")
                                        {<a href="@Url.Action("details","cases",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                            <img src="~/images/Case.png" width="30">
                                        </a>}
                                    </td>
                                    <td>@item.Info</td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td></td>
                            <td class="info"> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
