@model ePonti.BOL.GetContactInfoByContactID_Result
@using System.Data.Entity.Core.Objects
@using ePonti.BOL
@using ePonti.BLL.Common
@using ePonti.web.Common
@{
    ViewBag.Title = "Contact Info";
    var nav = Url.Nav(EnumWrapper.Pages.ContactDetails, Model.ViewID);

}
<div class="editableArea" id="editableArea"></div>
<div id="viewArea">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a class="homeLinks" href="@Url.ActionPrev()"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                <div class="col-sm-10 headerText">@Model.ContactDisplayName</div>
            </div>
            <div class="row">
                <div class="col-sm-10 ">
                    <div class="row">
                        <div class="col-sm-4 subText format-phone">@Model.Phone</div>
                        <div class="col-sm-3 subText">@Model.ContactType</div>
                        @if (ViewBag.ContactCustoms != null && ViewBag.ContactCustoms.Show1 != null && ViewBag.ContactCustoms.Show1 == true)
                        {
                            <div class="subText">@Model.Custom1</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-4 subText"><a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a></div>
                        <div class="col-sm-3 subText">@Model.ContactSubType</div>
                        @if (ViewBag.ContactCustoms != null && ViewBag.ContactCustoms.Show2 != null && ViewBag.ContactCustoms.Show2 == true)
                        {
                            <div class="subText">@Model.Custom2</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-4 subText">@Model.ContactAddress1 @Model.ContactAddress2</div>
                        <div class="col-sm-3 subText">@Model.FaceBook</div>
                        @if (ViewBag.ContactCustoms != null && ViewBag.ContactCustoms.Show3 != null && ViewBag.ContactCustoms.Show3 == true)
                        {
                            <div class="subText">@Model.Custom3</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-4 subText">@Model.ContactCity, @Model.ContactState, @Model.ContactZip</div>
                        <div class="col-sm-3 subText">@Model.LinkedIn</div>
                        @if (ViewBag.ContactCustoms != null && ViewBag.ContactCustoms.Show4 != null && ViewBag.ContactCustoms.Show4 == true)
                        {
                            <div class="subText">@Model.Custom4</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-4 subText">@Model.ContactCountry</div>
                        <div class="col-sm-3 subText">@Model.Skype</div>
                    </div>
                    <div class="row">
                        <div class="headerText"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 subText"></div>
                <div class="col-sm-4 dropdown buttons">
                    <button class="btn btn-default" onclick="openEdit()" id="open-edit-popup" role="button">Edit</button>
                    <span>
                        <button class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">New</button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Call", "create", new { controller = "calls", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Event", "create", new { controller = "events", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Note", "create", new { controller = "notes", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Case", "create", new { controller = "cases", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Punch Item", "create", new { controller = "punchlists", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("TimeIt", "create", new { controller = "timeits", area = "common", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Lead", "Create", new { controller = "leadinfo", area = "pages", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Quote", "Create", new { controller = "quoteinfo", area = "pages", contactid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Job", "Create", new { controller = "jobinfo", area = "pages", contactid = Model.ViewID, nav })</li>
                            <li><a href="#myModal" onclick="GetTemplates()" data-toggle="modal" data-target="#myModal" class=" servicePopTrigger" id="">Service</a></li>
                            
                            @*<li>@Html.ActionLink("Service", "Create", new { controller = "serviceinfo", area = "pages", contactid = Model.ViewID, nav })</li>*@
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bs-component">
            <ul class="nav nav-tabs tabText">
                <li class="active"><a href="#activities" data-toggle="tab">Activities</a></li>
                @if (Model.IsVendor != true)
                {
                    <li><a href="#projects" data-toggle="tab">Projects</a></li>
                }
                @if (Model.IsVendor == true)
                {
                    <li><a href="#por" data-toggle="tab">POR</a></li>
                }
                <li><a href="#relationships" data-toggle="tab">Relationships</a></li>
            </ul>
            <div id="contactInfoTabs" class="col-sm-9 tab-content">
                <div class="tab-pane fade active in" id="activities">
                    <div class="col-sm-7 list-group">
                        <table class="table table-hover grids">
                            <tr>
                                <th width="50"></th>
                                <th class="col-sm-1 tabText">Date</th>
                                <th class="tabText">Info</th>
                                <th class="col-sm-2 tabText">Status</th>
                            </tr>
                            @foreach (var item in ViewBag.Activities as ObjectResult<GetActivitiesByContactID_Result>)
                            {
                                <tr>
                                    <td width="30" height="50">
                                        @if (item.ActivityType == "EV")
                                        {<a href="@Url.Action("details","events",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                            <img src="~/images/Event.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CL")
                                        {<a href="@Url.Action("details","calls",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                            <img src="~/images/Call.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CA")
                                        {<a href="@Url.Action("details","cases",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                            <img src="~/images/Case.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "NT")
                                        {<a href="@Url.Action("details","notes",new { area="common",id=item.ViewID, contactid=Model.ViewID, nav})">
                                            <img src="~/images/Note.png" width="30">
                                        </a>}
                                    </td>
                                    <td class="col-sm-1 subText">@(item.Date.HasValue ? item.Date.Value.ToCustomDateString() : "")</td>
                                    <td class="subText">@item.Info</td>
                                    <td class="col-sm-3 subText">@item.Status</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                @if (Model.IsVendor != true)
            {
                    <div class="tab-pane fade" id="projects">
                        <div class="col-sm-7 list-group">
                            <table class="table table-hover grids">
                                <tbody>
                                    @if (ViewBag.Projects != null)
                                    {
                                        <tr>
                                            <th width="50"></th>
                                            <th class="tabText">Project</th>
                                            <th class="col-sm-2 tabText">Status</th>
                                        </tr>
                                        foreach (var item in ViewBag.Projects as ObjectResult<GetProjectsByContactID_Result>)
                                        {
                                            <tr>
                                                <td width="30" height="50">
                                                    @if (item.ProjectType == "L")
                                                    {<a href="@Url.Action("details", "leadinfo", new { area = "pages", id = item.ViewID, nav })">
                                                    <img src="~/images/Leads.png" width="30">
                                                </a>}
                                                    @if (item.ProjectType == "Q")
                                                    {<a href="@Url.Action("details", "quoteinfo", new { area = "pages", id = item.ViewID, nav })">
                                                    <img src="~/images/Quotes.png" width="30">
                                                </a>}
                                                    @if (item.ProjectType == "J")
                                                    {<a href="@Url.Action("details", "jobinfo", new { area = "pages", id = item.ViewID, nav })">
                                                    <img src="~/images/Jobs.png" width="30">
                                                </a>}
                                                    @if (item.ProjectType == "S")
                                                    {<a href="@Url.Action("details", "serviceinfo", new { area = "pages", id = item.ViewID, nav })">
                                                    <img src="~/images/Service.png" width="30">
                                                </a>}
                                                </td>
                                                <td class="subText">@item.Project</td>
                                                <td class="col-sm-3 subText">@item.Status</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @if (Model.IsVendor == true)
            {
                    <div class="tab-pane fade" id="por">
                        <div class="col-sm-11 list-group">
                            <table class="table table-hover grids">
                                <tbody>
                                    @if (ViewBag.POR != null)
                                    {
                                        <tr>
                                            <th width="50"></th>
                                            <th class="col-sm-3 tabText">POR#</th>
                                            <th class="tabText">Project</th>
                                            <th class="col-sm-2 tabText">Status</th>
                                            <th class="col-sm-1 tabText">Order</th>
                                            <th class="col-sm-1 tabText">Due</th>
                                            <th class="col-sm-1 tabText">Arr</th>
                                        </tr>
                                        foreach (var item in ViewBag.POR as ObjectResult<GetPORByContactID_Result>)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("details","porinfo",new { area="procurement",id=item.ViewID, nav})">
                                                        <img src="~/images/View.png" width="20">
                                                    </a>
                                                </td>
                                                <td class="subText">@item.PorNumber</td>
                                                <td class="subText">@item.Project</td>
                                                <td class="subText">@item.Status</td>
                                                <td class="subText">@item.Order.ToCustomDateString()</td>
                                                <td class="subText">@item.Requested.ToCustomDateString()</td>
                                                <td class="subText">@item.EstArrival.ToCustomDateString()</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="tab-pane fade" id="relationships">
                    <div class="col-sm-7 list-group">
                        <table class="table table-hover grids">
                            <tbody>
                                @if (ViewBag.Relationships != null)
                                {
                                    <tr>
                                        <th width="50"></th>
                                        <th class="tabText">Project</th>
                                        <th class="col-sm-2 tabText">Status</th>
                                    </tr>
                                    foreach (var item in ViewBag.Relationships as ObjectResult<GetContactRelationshipsByContactID_Result>)
                                    {
                                        <tr>
                                            <td width="30" height="50">
                                                @if (item.ProjectType == "L")
                                                {<a href="@Url.Action("details", "leadinfo", new { area = "pages", id = item.ViewID, nav })">
                                                <img src="~/images/Leads.png" width="30">
                                            </a>}
                                                @if (item.ProjectType == "Q")
                                                {<a href="@Url.Action("details", "quoteinfo", new { area = "pages", id = item.ViewID, nav })">
                                                <img src="~/images/Quotes.png" width="30">
                                            </a>}
                                                @if (item.ProjectType == "J")
                                                {<a href="@Url.Action("details", "jobinfo", new { area = "pages", id = item.ViewID, nav })">
                                                <img src="~/images/Jobs.png" width="30">
                                            </a>}
                                                @if (item.ProjectType == "S")
                                                {<a href="@Url.Action("details", "serviceinfo", new { area = "pages", id = item.ViewID, nav })">
                                                <img src="~/images/Service.png" width="30">
                                            </a>}
                                            </td>
                                            <td class="subText">@item.Project</td>
                                            <td class="col-sm-3 subText">@item.Status</td>
                                            <td class="col-sm-3 subText">@item.Relationship</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Template</h4>
            </div>
            <div class="modal-body">
                <select id="drpServiceTemplates"></select>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default getSubmitData" >Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.getSubmitData').on("click", function () {
                var SelectedVal = $('.modal-content').find('#drpServiceTemplates option:selected').val();

                $.post("/Pages/ContactInfo/CheckItemsForProject/", { ServiceTemplateId: SelectedVal }, function (response) {

                    if (response == 0) {
                        //Redirect to add items
                    }

                })
               
                var newUrl = '/Pages/serviceinfo/Create?servicetemplateid='+SelectedVal;
                window.location.replace(newUrl);
            });
        });
        $('#open-edit-popup').on('click', function () {
            $('#editableArea').load('@Url.Action("edit",new { id=Model.ViewID })', function () {
                initInputFormats();
                $(document).ready(function () {
                    var availableTags = [];
                    $(".DDcompanylist option").each(function () {
                        var comName = $(this).text().trim();
                        if (comName != "") {
                            availableTags.push(comName);
                        }
                    });
                    $(".con_company").autocomplete({
                        source: availableTags
                    });
                    //alert(availableTags);
                });
            });
        })
    </script>

    <script>
        $('body').on('click', '.save-contact', function () {
            var $form = $('#formNewContact');
            if ($form.valid()) {
                var contactid = '@Model.ViewID';
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.new-cotnact-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {

                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Contact saved.');
                            showAlert($alert, 'success');
                            location.reload();
                            //closeEdit();
                        }
                    }
                });
                //.fail(function () {
                //    $alert.html('Some error occurred while processing your request. Please retry.');
                //    showAlert($alert, 'error');
                //});
            }
        });

    </script>
    <script>

        function GetTemplates() {
            
            $.ajax({
                type: "POST",
                url: "/ContactInfo/GetTemplates",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    $("#drpServiceTemplates").html("");
                    $.each(data, function (key, value) {

                        $("#drpServiceTemplates").append($("<option></option>").val(value.ViewID).html(value.Name));
                    });
                   
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
              
        }
    </script>
}
