@model IEnumerable<ePonti.BOL.GetTimeProjectsBySiteCoIDnDates_Result>
@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Timekeeper";
    var nav = Url.Nav(EnumWrapper.Pages.Timekeeper);
    decimal? TotalHrs = 0.0M;
}

<div class="col-sm-11 list-group">
    <table class="projects-grids table table-hover grids">
        <tr>
            <th width="20"></th>
            <th width="30"></th>
            <th>Job</th>
            <th class="col-sm-2">Resource</th>
            <th class="col-sm-2">Task</th>
            <th class="col-sm-1">Date</th>
            <th class="col-sm-1">Hours</th>
            <th class="col-sm-2">CostCode</th>
            <th class="col-sm-1">PayType</th>
            <th width="30">Reason</th>
        </tr>
        @if (Model != null)
        {
            int index1 = 0;
            foreach (GetTimeProjectsBySiteCoIDnDates_Result item in Model)
            {
                <tr class="item-row projects-item-row">
                    <td height="50">
                        <input class="checkproject" type="checkbox" />
                        <input type="hidden" class="project-id" value="@item.ProjectID" />
                        <input type="hidden" class="index1" value="@index1" />
                        <input type="hidden" class="PayrollID1" value="@item.PayrollID" />
                    </td>
                    <td class="action">
                        @if (item.PayrollTypeID == 2)
                        {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new { area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID", tab = "projects", nav })">
                                                    <img src="~/images/WorkOrder.png" width="20">
                                                </a>}
                        @if (item.PayrollTypeID == 1)
                        {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new {  area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID",tab= "projects", nav })">
                                                    <img src="~/images/WorkOrder.png" width="20">
                                                </a>}
                        @if (item.PayrollTypeID == 0)
                        {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new { area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID",tab= "projects", nav })">
                                                    <img src="~/images/TimeIt.png" width="20">
                                                </a>}
                    </td>
                    <td class="subText">@item.Job</td>
                    <td class="subText">@item.Resource</td>
                    <td class="subText">@item.Task</td>
                    <td class="subText">@item.Date.ToCustomDateString()</td>
                    <td class="subText">@item.Hours</td>
                    <td class="subText">@item.CostCode</td>
                    <td class="subText">@item.PayType</td>
                    <td class="subText">
                        @if (item.Reason == "0")
                        {<a href=""></a>}
                        @if (item.Reason == "1")
                        {<img src="~/images/Cancel.png" width="20">}
                    </td>
                    @{
                        TotalHrs += item.Hours;
                        index1 = index1 + 1;
                    }
                </tr>
                        }
                        <tr class="footer">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Totals</strong></td>
                            <td class="num-format total-format">@TotalHrs.ToFormattedString(2)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        }
    </table>
</div>

