@*@model IEnumerable<ePonti.BOL.Payroll>*@
@using ePonti.BOL
@using ePonti.BLL.Common

@{
    ViewBag.Title = "Payroll Rejection Reason Info";
    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
    var item = ViewBag.PayReasonInfo as GetPayReasonInfo_Result;
    var projectId = item.PayrollID;

}

@*This utilizes [GetPayReasonInfo] on opening then [InsertPayReason]*@

<div id="viewArea">
    <div class="container-fluid">
        <div class="col-sm-12 col-lg-12 pageHeader">
            <div class="col-sm-10 col-lg-11 homeMenuText">@ViewBag.Title</div>
            <div>
                <a class="homeLinks update-info-details "><img src="~/images/Save.png" width="20"></a>
                <span><a href="@Url.ActionPrev()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
            
            </div>
        </div>
    </div>
  @using (Html.BeginForm("SaveReasonInfo", "Timekeeper", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main-form" }))
  {
     
        <input type="hidden" id="ViewID" name="ViewID" value="@item.ViewID" />
    <input type="hidden" id="PayrollID" name="PayrollID" value="@item.PayrollID" />
    <div class="container-fluid">
        <div class="form-group">
            <div class="headerText"></div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label formLabelText">Submitted By</label>
            <div class="col-sm-8 col-lg-7 formFeildText">
                @Html.TextBox("SubmitedBy", item.SubmitedBy, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label formLabelText">Reason</label>
            <div class="col-sm-8 col-lg-7 formFeildText">
                @Html.TextBox("PayrollReasonNote", item.Reason, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label formLabelText">Created</label>
            <div class="col-sm-5 col-lg-6 subText">
                @((item.Created as DateTime?).ToCustomDateString())
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
    }
</div>
@section scripts{
    <script>
        $('.update-info-details').on('click', function () {
            var $form = $('#main-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Data saved.');
                            showAlert($alert, 'success');
                            document.location = '/Sections/Timekeeper'
                        }
                    }
                });
            }
        })
    </script>
}