<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom CSS -->
    <link href="~/Content/ePontiV9Prototype.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Special Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
    <div class="col-sm-12 container-fluid optionsContainer">
        @RenderBody()

        <footer>
            <div class="col-sm-10 pageFooter">&copy; @ePonti.terms.Resource1.AppStdFooter</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>

    <link href="@Url.Content("~/Scripts/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jq-mask/jquery.mask.min.js")"></script>

    @Scripts.Render(Bundles.Js.ePontiV9Prototype)
    @RenderSection("scripts", required: false)
    @Scripts.Render(Bundles.Js.CommonOptions)

</body>
</html>
