@using ePonti.BOL

@using GridMvc.Html;

@{
    ViewBag.Title = "Add Item";
}

<div id="viewArea" class="add-items-page">
    <div class="container-fluid">
        <div class="col-sm-12 pageHeader">
            <div class="col-sm-10 homeMenuText">@ViewBag.Title</div>
            <div>
                <a href="#" class="pageHeaderClose save-main-form" data-additem="@Url.Action("AddItem")" data-previous="@Url.ActionPrev()"><img src="~/images/Save.png" width="20"></a>
                <span><a href="javascript:history.go(-1)" class="pageHeaderClose"><img src="~/images/Cancel.png" width="20"></a></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="custom-font">
            @Html.ValidationSummary()
            <div class="main-form-alert alert soft-hide"></div>
            <input type="hidden" id="woid" value="@ViewBag.WoID" />
        </div>
        <div class="row">
            <div class="col-sm-11 list-group items">
                @Html.Grid(ViewBag.Items as List<GetSelectItemsByWoID_Result>).Columns(columns =>
           {
               columns.Add().Encoded(false).Sanitized(false).SetWidth(20).RenderValueAs(s => "<input type=\"checkbox\" class=\"check\" /><input type=\"hidden\" class=\"itemid\" value=\"" + s.ViewID + "\" />").Css("part");
               columns.Add().Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(s => "<a href=\"ItemView.html\"><img src=\"" + Url.Content("~/images/View.png") + "\" width=\"20\"></a>").Titled("View");
               columns.Add(s => s.Division).Sortable(true).Css("col-sm-3 subText").Titled("Division").Filterable(true);
               columns.Add(s => s.Area).Sortable(true).Css("col-sm-2 subText").Titled("Area").Filterable(true);
               columns.Add(s => s.Stage).Sortable(true).Css("col-sm-1 subText").Titled("Stage").Filterable(true);
               columns.Add(s => s.Part).Sortable(true).Css("subText").Titled("Part");
           }).WithPaging(20, 20, "ItemsList").SetRowCssClasses(s=> "item")
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
</div>


@section scripts{

    <script src="@Url.Content("~/Scripts/pages/workorder.js")"></script>

}
