@using ePonti.BOL
@model RptCoHeaderBySiteCoID_Result
@{
    ViewBag.Title = "ReportViewer";
    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
    decimal estimatedHours = 0;
    bool isnext = true;
    string tempDivision = "";
    string tempArea = "";
}



<div class="col-md-12">
    <table class="report_container" cellpadding="10" cellspacing="0">
        <tbody>

            <!-- LOGO -->
            <tr>
                <td colspan="5">
                    @if (Model.Logo != null)
                    {
                        <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Logo))" width="50" />
                    }
                </td>
                <td style="text-align:right;"><h2>Work order</h2></td>
            </tr>
            <!-- Company's name and address -->
            <tr style="border-top: 2px solid;border-color:red;">
                <td colspan="5">
                    <address>
                        @*@Model.CoName<br>*@
                        @Model.CoAddress1<br>
                        @Model.CoAddress2<br>
                        @Model.CoPhone<br>
                        @Model.License<br>
                    </address>
                </td>
                <td></td>
            </tr>
            @if (ViewBag.WoInfo != null)
            {
                <tr>
                    <td colspan="5"></td>
                    <td width="20%">
                        <address>
                            Date: @Convert.ToDateTime(ViewBag.WoInfo.AssignedDate).ToShortDateString()<br>
                            Start: @ViewBag.WoInfo.StartTime<br>
                            WO#: @ViewBag.WoInfo.Wo_<br>
                            Tech: @ViewBag.WoInfo.Resource<br>
                        </address>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <address>
                            @ViewBag.WoInfo.Job<br>
                            @ViewBag.WoInfo.Customer<br>
                            @ViewBag.WoInfo.ProjectAddress1 @ViewBag.WoInfo.ProjectAddress2<br>
                            @ViewBag.WoInfo.ProjectCity @ViewBag.WoInfo.ProjectState, @ViewBag.WoInfo.ProjectZip<br>
                            @ViewBag.WoInfo.ProjectPhone<br>
                        </address>
                    </td>
                    <td></td>
                </tr>
            }
            @if (ViewBag.WoItems != null)
            {
                <tr>
                    <td colspan="6">

                        <table cellpadding="10" cellspacing="0" style="border-top: 2px solid;border-color:#dddddd;border-bottom: 2px solid #dddddd;">
                            <tbody>
                                @foreach (RptWoByWoID_Result item in ViewBag.WoItems)
                                {
                                    estimatedHours += item.EstHrs.HasValue ? item.EstHrs.Value : 0;
                                    if (isnext == true)
                                    {
                                        isnext = false;
                                        tempArea = item.Area;
                                        tempDivision = item.Division;
                                        <tr class="woarea"><td>@item.Area</td></tr>
                                        <tr class="wodivision"><td>&nbsp;&nbsp;@item.Division</td></tr>
                                    }
                                    <tr class="wotask">
                                        <td width="70%">
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;@item.Task</span>
                                        </td>

                                        <td width="15%">[EStHrs]</td>
                                        <td width="15%">@item.EstHrs</td>
                                    </tr>
                                    if (tempArea != item.Area || tempDivision != item.Division)
                                    {
                                        isnext = true;
                                    }
                                }

                            </tbody>
                        </table>
                    </td>
            </tr>
            }
                        <tr>

                            <td colspan="6">
                                <table cellpadding="10" cellspacing="0" border-color:#dddddd;border-bottom: 2px solid #dddddd;">
                                    <tbody>
                                        <tr>
                                            <td width="55%">
                                                &nbsp;
                                            </td>
                                            <td width="15%">Total Hours</td>
                                            <td width="15%">SUM[EstHrs]</td>
                                            <td width="15%">@estimatedHours</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
    </table>

                    </div>