@using ePonti.BOL
@using ePonti.BLL.Common
@model ePonti.web.Models.PORModels.UpdateCustody

@{
    ViewBag.Title = "Update Custody Info";
}

<div class="container body-content update-custody-page" id="viewArea">
    <div class="container body-content">
        <div class="col-sm-12 pageHeader">
            <div class="col-sm-10 homeMenuText">Update Custody</div>
            <div>
                <a href="#" class="pageHeaderClose save-main-form"><img src="~/images/Save.png" width="20"></a>
                <span><a href="@Url.ActionPrev()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
            </div>
        </div>
        @using (Html.BeginForm("update", "porinfo", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main-form" }))
        {
            <div class="custom-font">
                @Html.ValidationSummary()
                <div class="main-form-alert alert soft-hide"></div>
                @Html.HiddenFor(p => p.ItemID)
            </div>
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <div class="row">
                        <div class="headerText">@Model.PORNumber</div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="row">
                                <div class="col-sm-8 subText">@Model.Vendor</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 subText">@Model.Manufacturer</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 subText">@Model.Model</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 subText">@Model.ProductDescription</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="headerText"></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.RequestedDate, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-2 formFeildText">
                        @Html.TextBoxFor(p => p.RequestedDate, new { @class = "form-control date-picker", data_value = Model.RequestedDate.ToCustomDateStringForPicker(), disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.ArrivalDate, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-3 formFeildText">
                        @Html.TextBoxFor(p => p.ArrivalDate, new { @class = "form-control date-picker", data_value = Model.ArrivalDate.ToCustomDateStringForPicker() })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.DeliveredDate, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-3 formFeildText">
                        @Html.TextBoxFor(p => p.DeliveredDate, new { @class = "form-control date-picker", data_value = Model.DeliveredDate.ToCustomDateStringForPicker() })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.ActualCost, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-3 formFeildText">
                        @Html.TextBoxFor(p => p.ActualCost, new { @class = "form-control number-spinner", data_step = "0.0001", data_decimals = "4" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.LocationID, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-3 formFeildText">
                        @Html.DropDownListFor(p => p.LocationID, ViewBag.Locations as SelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.PackingSlipNumber, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-5 formFeildText">
                        @Html.TextBoxFor(p => p.PackingSlipNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.SerialNumber, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                    <div class="col-sm-5 formFeildText">
                        @Html.TextBoxFor(p => p.SerialNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="headerText"></div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        var _previousUrl = '@Url.ActionPrev()';
    </script>
    <script src="@Url.Content("~/Scripts/pages/porinfo.js?")" type="text/javascript"></script>
}
