<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/ePontiV9Prototype.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Special Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    @Scripts.Render("~/bundles/jquery")
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>


</head>
<body>
    <div class="container-fluid">
        @RenderBody()

        <footer>
            <div class="col-sm-10 col-lg-11 pageFooter">&copy; @ePonti.terms.Resource1.AppStdFooter</div>
        </footer>
    </div>

    
        
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>

    <link href="@Url.Content("~/Scripts/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jq-mask/jquery.mask.min.js")"></script>

   

    <script src="~/Scripts/ePontiV9Prototype.js"></script>
        @RenderSection("scripts", required: false)
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
</body>
</html>