@model ePonti.web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                    <div class="mainGridText">@ViewBag.Title</div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-9 col-lg-offset-1 col-lg-9 tabText">Fill out the information below:</div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-9 col-lg-offset-1 col-lg-9 tabText">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.InvitationCode) && !Model.InvitationCodeValid)
                {
                    <div class="row">
                        <div class="tabText">Invitation code invalid or expired</div>
                    </div>
                }
                else
                {
                    <div class="row">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(p => p.InvitationCode)
                            if (Model.InvitationCodeValid)
                            {
                                <div class="row">
                                    <div class="tabText">
                                        You are registering as a member of @Model.CompanyDetails.CompanyName
                                    </div>
                                </div>
                            }
                            <div class="col-sm-6 col-lg-6">
                                <section id="loginForm-company">
                                    <div class="row">
                                        <div class="formLabelText"></div>
                                    </div>
                                    @if (string.IsNullOrWhiteSpace(Model.InvitationCode))
                                    {
                                        <div class="row">
                                            <div class="headerText">
                                                Company Info
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.CompanyName, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-9 col-lg-9">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.CompanyName, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.Address1, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-9 col-lg-9">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.Address1, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.Address2, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-9 col-lg-9">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.Address2, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.City, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-9 col-lg-9">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.City, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.State, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-6 col-lg-6">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.State, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.Zip, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-5 col-lg-5">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.Zip, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.Country, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-9 col-lg-9">
                                                    @Html.DropDownListFor(m => m.CompanyDetails.Country,
                                                   new SelectList(new ePonti.BOL.Repository.CommonRepository().GetCountries(), "Country", "Country"),
                                                   new { @class = "form-control formFeildText" }
                                                   )
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyDetails.Phone, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                                <div class="col-sm-7 col-lg-7">
                                                    @Html.TextBoxFor(m => m.CompanyDetails.Phone, new { @class = "form-control formFeildText" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </section>
                            </div>
                            <div class="col-sm-5 col-lg-5">
                                <section id="loginForm">
                                    <div class="row">
                                        <div class="formLabelText"></div>
                                    </div>
                                    <div class="row">
                                        <div class="headerText">
                                            User Info
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-9 col-lg-9">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control formFeildText" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-9 col-lg-9">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control formFeildText" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-9 col-lg-9">
                                                @if (Model.InvitationCodeValid)
                                                {
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control formFeildText", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control formFeildText" })
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Phone, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-7 col-lg-7">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control formFeildText" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-9 col-lg-9">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control formFeildText" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 col-lg-3 control-label formLabelText" })
                                            <div class="col-sm-9 col-lg-9">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control formFeildText" })
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="row"></div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-5 col-sm-3 col-lg-offset-5 col-lg-3 dropdown buttons">
                                                <input type="submit" class="btn btn-default" value="Register" />
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
