@using ePonti.BOL
@using ePonti.BLL.Common

@{
    ViewBag.Title = "Stages Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 headerText">Masters</div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-2 dropdown buttons">
            <button type="button" class="btn btn-default add-item" data-grid="stagemasters-grid" role="button">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-lg-1 headerText"></div>
        <div class="col-sm-5">
            <table class="table table-hover grids" id="stagemasters-grid"
                   data-edit="@Url.Action("UpdateStageMaster")"
                   data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Stage_Master.ToString() })">
                <tr>
                    <th width="50"></th>
                    <th>Name</th>
                    <th class="col-sm-2 col-lg-2">Order</th>
                    <th width="20"></th>
                </tr>
                @if (ViewBag.Masters != null)
                {
                    foreach (CoStagesMaster item in ViewBag.Masters)
                    {
                        <tr class="item-row">
                            <td class="actions"><a href="@Url.Action("Edit", new { id = item.StageMasterID })"><img src="~/images/View.png" height="15" /></a></td>
                            <td class="name" data-name="name">@item.StageName</td>
                            <td class="order" data-name="order">@(item.StageOrder.HasValue ? item.StageOrder.Value.ToString() : "")</td>
                            <td class="actions">
                                @actionButtons(item.StageMasterID)
                            </td>
                        </tr>
                    }
                }
                <tr class="item-row data-template">
                    <td class="actions"><a class="view-details" href="@Url.Action("Edit", new { id = "ITEMID" })"><img src="~/images/View.png" height="15" /></a></td>
                    <td class="name" data-name="name"> </td>
                    <td class="order" data-name="order"> </td>
                    <td class="actions">
                        @actionButtons(0)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 headerText">Sub-Labor</div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6 col-sm-2 dropdown buttons">
            <button type="button" class="btn btn-default add-item" data-grid="stagesubs-grid" role="button">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-lg-1 headerText"></div>
        <div class="col-sm-5">
            <table class="table table-hover grids" id="stagesubs-grid"
                   data-edit="@Url.Action("UpdateStageSub")"
                   data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Stage_SubLabor.ToString() })">
                <tr>
                    <th>Name</th>
                    <th class="col-sm-2 col-lg-2">Order</th>
                    <th width="20"></th>
                </tr>
                @if (ViewBag.Masters != null)
                {
                    foreach (CoStagesSubs item in ViewBag.Subs)
                    {
                        @NameOrderItems(item.StageSubName, item.StageSubOrder, item.StageSubID)
                    }
                }
                @NameOrderItems(IsTemplate: true)
            </table>
        </div>
    </div>
</div>


@helper NameOrderItems(string Name = "", int? Order = null, int ItemID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
        <td class="actions">
            @actionButtons(ItemID)
        </td>
    </tr>
}

@helper actionButtons(int ItemID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
    @*<img class="edit" src="~/images/Edit.png" height="15" />*@
    <img class="save" src="~/images/Save.png" height="15" />
    <img class="cancel" src="~/images/Cancel.png" height="15" />
    <input type="hidden" class="item-id" value="@ItemID" />
}