@using ePonti.BLL.Common
@using ePonti.BOL;
@model ePonti.web.Models.ItemModels.EditShortItem
@{
    ViewBag.Title = "COR Item Info";

    var item = ViewBag.Item as GetCorItemInfoByCorItemID_Result;

}

<div class="container body-content" id="viewArea">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-10 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.ActionPrev()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a>
            @Html.Hidden("CorItemID", item.ViewID)
            @Html.Hidden("ProjectID", (int?)ViewBag.ProjectID)
            @Html.Hidden("ProjectItemID", (int?)ViewBag.ProjectItemID)
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                <div class="headerText">@item.Label</div>
            </div>
            <div class="row">
                <div class="subText">@item.Description</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-offset-1 col-sm-10 col-lg-offset-1 col-lg-10 bs-component">
            <ul class="nav nav-tabs tabText">
                <li class="active"><a href="#project" data-toggle="tab">Project</a></li>
                <li><a href="#price" data-toggle="tab">Price</a></li>
                <li><a href="#labor" data-toggle="tab">Labor</a></li>
            </ul>
            <div id="contactInfoTabs" class="tab-content">
                <div class="tab-pane fade active in" id="project">
                    <div class="form-group">
                        <div class="headerText"></div>
                    </div>
                    <div class="custom-font">
                        <div class="main-form-alert alert soft-hide"></div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Area</label>
                        <div class="col-sm-5 col-lg-4 formFeildText">
                            @Html.DropDownList("AreaID", ViewBag.Areas as SelectList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Division</label>
                        <div class="col-sm-8 col-lg-7 formFeildText">
                            @Html.DropDownList("DivisionID", ViewBag.Divisions as SelectList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">POR#</label>
                        <div class="col-sm-5 col-lg-4 formFeildText">
                            @item.Por_
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Custody</label>
                        <div class="col-sm-5 col-lg-4 formFeildText">@item.Custody</div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-offset-7 col-lg-offset-7 col-sm-2 col-lg-2 dropdown buttons">
                            <a role="button" class="homeLinks update-project" data-url="@Url.Action("UpdateCorInfo")"><img src="~/images/Save.png" width="20"></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="price">
                    <div class="row form-group">
                        <div class="headerText"></div>
                    </div>
                    <div class="custom-font">
                        @Html.ValidationSummary()
                        <div class="main-form-alert alert soft-hide"></div>
                    </div>
                    @using (Html.BeginForm("UpdateCorItemPriceInfo", "Items", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "price-form" }))
                    {
                        @Html.HiddenFor(p => p.Price.ItemID)
                        <div class="row">
                            @Html.LabelFor(p => p.Price.Qty, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            @Html.LabelFor(p => p.Price.UnitCost, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            @Html.LabelFor(p => p.Price.UnitPrice, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            @Html.LabelFor(p => p.Price.Extension, new { @class = "col-sm-1 col-lg-1 control-label formLabelText" })
                            @Html.LabelFor(p => p.Price.Margin, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            @Html.LabelFor(p => p.Price.Markup, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.TextBoxFor(p => p.Price.Qty, new { @class = "form-control num-format format-decimal2" })
                            </div>
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.TextBoxFor(p => p.Price.UnitCost, new { @class = "form-control num-format format-decimal4" })
                            </div>
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.TextBoxFor(p => p.Price.UnitPrice, new { @class = "form-control num-format format-decimal4" })
                            </div>
                            <div class="col-sm-1 col-lg-1 formNumTotalsText">
                                @Html.DisplayFor(p => p.Price.Extension)
                            </div>
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.TextBoxFor(p => p.Price.Margin, new { @class = "form-control num-format format-perc", data_value = Model.Price.Margin, data_val = "false" })
                            </div>
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.TextBoxFor(p => p.Price.Markup, new { @class = "form-control num-format format-perc", data_value = Model.Price.Markup, data_val = "false" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4 col-lg-4 formFeildText"></div>
                            @Html.LabelFor(p => p.Price.Tax, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            <div class="col-sm-1 col-lg-1 formNumTotalsText">
                                @Html.DisplayFor(p => p.Price.Tax)
                            </div>
                            <div class="col-sm-2 col-lg-2 formFeildText">
                                @Html.CheckBoxFor(p => p.Price.Taxable)
                                <span>
                                    @Html.LabelFor(p => p.Price.Taxable, new { @class = "control-label formLabelText" })
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4 col-lg-4 formFeildText"></div>
                            @Html.LabelFor(p => p.Price.Total, new { @class = "col-sm-2 col-lg-2 control-label formLabelText" })
                            <div class="col-sm-1 col-lg-1 formNumTotalsText">
                                @Html.DisplayFor(p => p.Price.Total)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-lg-1 formFeildText"></div>
                            <div class="col-sm-3 col-lg-2 formFeildText">
                                @Html.CheckBoxFor(p => p.Price.ExcludePOR)
                                @Html.LabelFor(p => p.Price.ExcludePOR, new { @class = "control-label formLabelText" })
                            </div>
                            <div class="col-sm-3 col-lg-2 formFeildText">
                                @Html.CheckBoxFor(p => p.Price.WarranteePart)
                                @Html.LabelFor(p => p.Price.WarranteePart, new { @class = "control-label formLabelText" })
                            </div>
                            <div class="col-sm-3 col-lg-2 formFeildText">
                                @Html.CheckBoxFor(p => p.Price.OneOffItem)
                                @Html.LabelFor(p => p.Price.OneOffItem, new { @class = "control-label formLabelText" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-offset-7 col-lg-offset-7 col-sm-2 col-lg-2 dropdown buttons">
                                <a role="button" class="homeLinks update-price"><img src="~/images/Save.png" width="20"></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="labor">
                    <div class="form-group">
                        <div class="headerText"></div>
                    </div>
                    <div class="custom-font">
                        <div class="main-form-alert alert soft-hide"></div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Stage</label>
                        <div class="col-sm-5 col-lg-5 formFeildText">
                            @Html.DropDownList("labor-stage", ViewBag.ProjectStages as SelectList, new { @class = "form-control", data_url = Url.Action("GetStageDetails") })
                        </div>
                        <div class="col-sm-3 col-lg-2 formFeildText">
                            <input type="checkbox">
                            <span><label class="control-label formLabelText">Taxable</label></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Unit Hours</label>
                        <div class="col-sm-2 col-lg-2 formFeildText">
                            @Html.TextBox("labor-unit-hours", item.Hours, new { @class = "form-control num-format format-decimal2" })
                        </div>
                        <label class="col-sm-2 col-lg-2 control-label formLabelText">Project Total Hours</label>
                        <div class="col-sm-1 col-lg-1 formNumTotalsText">@item.ProjectTotalHours.ToFormattedString()</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 col-lg-1"></div>
                        <div class="col-sm-9 col-lg-9 list-group">
                            <table class="table table-hover grids stageDetails">
                                <tr>
                                    <td width="20"></td>
                                    <th>Labor</th>
                                    <th class="col-sm-2 col-lg-2 formLabelText">Cost/Hr</th>
                                    <th class="col-sm-2 col-lg-2 formLabelText">Price/Hr</th>
                                    <th class="col-sm-2 col-lg-2 formLabelText">%</th>
                                    <th class="col-sm-1 col-lg-1 formLabelText">Hours</th>
                                    <th class="col-sm-2 col-lg-2 formLabelText">Sell/Hr</th>
                                    <td width="20"></td>
                                </tr>
                                <tr class="stageDetail data-template">
                                    <td></td>
                                    <td><span class="subName"></span><input type="hidden" class="substage-id" /><input type="hidden" class="item-id" /><input type="hidden" class="index" /></td>
                                    <td class="cost num-format format-decimal2" ></td>
                                    <td class="price num-format format-decimal2" ></td>
                                    <td class="perc num-format format-perc" ></td>
                                    <td class="hours num-format format-decimal2"></td>
                                    <td class="sell num-format format-decimal2"></td>
                                    <td></td>
                                </tr>
                                <tr class="footer">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Subtotals</strong></td>
                                    <td class="subtotal-hours total-format num-format format-decimal2"></td>
                                    <td class="subtotal-sell total-format num-format format-decimal2"></td>
                                    <td></td>
                                </tr>
                                @*This displays only if the [Taxable] is checked*@
                                <tr class="footer">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Labor Tax</strong></td>
                                    <td></td>
                                    <td class="labor-tax total-format num-format format-decimal2">5.00</td>
                                    <td></td>
                                </tr>
                                <tr class="footer">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                    <td class="total-sell total-format num-format"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-offset-7 col-lg-offset-7 col-sm-2 col-lg-2 dropdown buttons">
                            <a role="button" class="homeLinks update-labor" data-url="@Url.Action("UpdateLaborInfo")"><img src="~/images/Save.png" width="20"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/pages/iteminfo-short-cor.js")" type="text/javascript"></script>
}
