@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Groups Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="col-sm-offset-9 col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="group-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="group-grid"
                           data-edit="@Url.Action("UpdateGroup")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Group_Group.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoGroups != null)
                        {
                            foreach (GetGroupsBySiteCoID_Result item in ViewBag.CoGroups)
                            {
                                <tr class="item-row">
                                    <td data-name="name">@item.Group</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td data-name="name"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@helper actionButtons(int ItemID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
    <img class="edit" src="~/images/Edit.png" height="15" />
    <img class="save" src="~/images/Save.png" height="15" />
    <img class="cancel" src="~/images/Cancel.png" height="15" />
    <input type="hidden" class="item-id" value="@ItemID" />
}