@model IEnumerable<ePonti.BOL.Payroll>
@using ePonti.BOL
@using ePonti.BLL.Common

@{
    ViewBag.Title = "Employee Info";
    var nav = Url.Nav(EnumWrapper.Pages.Timekeeper);
    decimal? TotalHrs = 0.0M;
    Layout = "~/Areas/Options/Views/Shared/_Layout.cshtml";
}

<div id="viewArea">
    <div class="container-fluid">
        <div class="col-sm-offset-1 col-sm-10 pageHeader">
            <div class="col-sm-11 homeMenuText">@ViewBag.Resource</div>
            <div>
                <a href="#" class="homeLinks cancelemp"><img src="~/images/Cancel.png" width="20"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-1 col-sm-10 container-fluid">
        <div class="content">
            <div class="form-group">
                <div class="headerText"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 list-group">             
                <span id="tab" style="display:none;">@ViewBag.tab</span>
                <span id="pid" style="display:none;">@ViewBag.pid</span>
                <table class="table table-hover grids">
                    <tr>
                        <th width="20"></th>
                        <th width="30"></th>
                        <th>Job</th>
                        <th class="col-sm-3">Task</th>
                        <th class="col-sm-1">Date</th>
                        <th class="col-sm-1">Hours</th>
                        <th class="col-sm-2">CostCode</th>
                        <th class="col-sm-1">PayType</th>
                        <th width="30">Reason</th>
                        <th width="20"></th>
                    </tr>
                    @if (ViewBag.PayEmployeeInfo != null)
                    {
                        foreach (GetTimeEmployeeInfo_Result item in ViewBag.PayEmployeeInfo)
                        {
                            <tr class="item-row">
                                <td height="50"></td>
                                <td class="action">
                                    @if (item.PayrollTypeID == 2)
                                    {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new { area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID", nav })">
                                        <img src="~/images/WorkOrder.png" width="20">
                                    </a>}
                                    @if (item.PayrollTypeID == 1)
                                    {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new {  area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID", nav })">
                                        <img src="~/images/WorkOrder.png" width="20">
                                    </a>}
                                    @if (item.PayrollTypeID == 0)
                                    {<a class="payinfo" data-pid="@item.PayrollID" href="@Url.Action("payItemInfo", "timekeeper", new { area = "sections", id = item.PayrollEventID,projectid=item.ProjectID, PayrollTypeID = item.PayrollTypeID,PayrollPeriodItemID="PERIOD",PayrollID="PAYROLLID", nav })">
                                        <img src="~/images/TimeIt.png" width="20">
                                    </a>}
                                <td class="subText">@item.Job</td>
                                <td class="subText">@item.Task</td>
                                <td class="subText">@item.Date.ToCustomDateString()</td>
                                <td class="subText">@item.Hours</td>
                                <td class="subText">@item.CostCode</td>
                                <td class="subText">@item.PayType</td>
                                <td class="subText">
                                    @if (item.Reason == "0")
                                    {<a href=""></a>}
                                    @if (item.Reason == "1")
                                    {<img src="~/images/Cancel.png" width="20">}
                                </td>
                                <td></td>
                                @{
                                    TotalHrs += item.Hours;
                                }
                            </tr>
                                    }
                                    <tr class="footer">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Totals</strong></td>
                                        <td class="num-format total-format subText">@TotalHrs.ToFormattedString(2)</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="headerText"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    $('.payinfo').on('click', function (e) {       
        e.preventDefault();
        var url = $(this).attr('href');
        var PayrollID = $(this).data('pid');

        //var pid = projectId.split(',');
        var pid = $('#PayrollPeriodItemID').val();
        url = url.replace('PERIOD', pid);
        url = url.replace('PAYROLLID', PayrollID);
        document.location = url;
    });

    $('.cancelemp').on('click', function () {
        debugger
        var pid = $("#pid").text();    
        var tab = $("#tab").text();
        document.location = '/Sections/Timekeeper/Index?pid=' + pid + '&tab=' + tab + ''
    });

    </script>
}
