@using ePonti.BOL
@using GridMvc.Html
@model List<GetServiceBySiteCoID_Result>
@{
    ViewBag.Title = "Services";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.ServiceGrid, null);
}

<div class="col-sm-12 container-fluid">
    <div class="row">
        <div class="col-sm-8 mainGridText">@ViewBag.Title</div>
        <div class="buttons dropdown">
            <a class="btn btn-default" href="@Url.Action("create", "serviceinfo", new { area = "pages", nav }, null)" role="button" aria-haspopup="true" aria-expanded="false">New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <div class="row">
                <div class="headerText"></div>
            </div>
            <div class="row">
                <div class="headerText"></div>
            </div>
            <div class="leftfilters">
                @using (Html.BeginForm("Index", "service", FormMethod.Post, new { id = "LeftFiltersForm" }))
                {
                    @Html.TextBox("SearchText", "", new { id = "txtSearch", placeholder = "Enter search text", @class = "srch_text" })
                    if (ViewBag.ContactCompanies != null)
                    {
                        <h4>Customer</h4>
                        <div class="checklists">
                            @Html.Hidden("SelectedCompanies", "", new { @class = "SelectedCompanies" })
                            @foreach (var item in ViewBag.ContactCompanies)
                            {
                                <div class="filtercheckbox">
                                    <label>
                                        <input type="checkbox" value="@item.ViewID" /> @item.Customer
                                    </label>
                                </div>
                            }
                        </div>
                    }
                    if (ViewBag.ProjectStatus != null)
                    {
                        <h4>Status</h4>
                        <div class="checklists">
                            @Html.Hidden("SelectedProjectStatus", "", new { @class = "SelectedProjectStatus" })
                            @foreach (var item in ViewBag.ProjectStatus)
                            {
                                <div class="filtercheckbox">
                                    <label>
                                        <input type="checkbox" value="@item.ViewID" /> @item.Name
                                    </label>
                                </div>
                            }
                        </div>
                    }
                    <div class="row">
                        <div class="headerText"></div>
                    </div>
                    <div class="buttons formLabelText">
                        <input type="button" class="btn btn-default clearleftfilter" value="Clear" />
                        <input type="button" class="btn btn-default updateleftfilter" value="Update" />
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-8 col-lg-7 sectionGrids">

            @(Html.Kendo().Grid(Model)
                .Name("Grid")

                .Columns(columns =>
                {
                    columns.Bound(p => p.ContactID).Title("").ClientTemplate("<a href=\"" + Url.Action("details", "serviceinfo", new { area = "pages", id = "#=ViewID#", nav }) + "\"><img src=\"" + Url.Content("~/images/Service.png") + "\" width=\"25\"></a>").Width(50);
                    columns.Bound(p => p.Project).Title("Service"); 
                    columns.Bound(p => p.Customer).Title("Customer").Width("30em");
                    columns.Bound(p => p.Status).Title("Status").Width("20em");

                })

               .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Navigatable()
                .Pageable()
                //.Pageable(pageable =>
                //{
                //    pageable.PageSizes(new int[] {15, 20 });
                //})
                .Sortable()
                .Scrollable(scr => scr.Height("auto"))
                .DataSource(dataSource => dataSource  // Configure the grid data source
                .Ajax()
                .Model(model =>
                {
                    model.Id(x => x.ViewID);
                })
                  .Read(read => read.Action("GetServices", "Service").Data("ServiceFilterData")) // Set the action method which will return the data in JSON format
                  .PageSize(20)

                 )
            )
        </div>
    </div>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        loadFilterFunctions();
        });

        function ServiceFilterData() {
            var SearchText = $("#txtSearch").val();
            var SelectedProjectStatus = $("#SelectedProjectStatus").val();
            var SelectedCompanies = $("#SelectedCompanies").val();
            
            return {
                SearchText: SearchText,
                SelectedProjectStatus: SelectedProjectStatus,
                SelectedCompanies: SelectedCompanies
            };
        }

        $(".updateleftfilter").on("click", function () {

            $('#Grid').data('kendoGrid').dataSource.read();
            $('#Grid').data('kendoGrid').refresh();
            return;
        })
    </script>
}
