@using ePonti.BOL
@using ePonti.BLL.Common
@model GetWorkOrderInfoByWoID_Result

@{
    ViewBag.Title = "Work Order Info";
    Layout = "~/Areas/Mobile/Views/Shared/_DetailsLayout.cshtml";
    var projectID = ViewBag.ProjectID;
    var woTypeID = (int?)ViewBag.WOTypeID ?? (int)EnumWrapper.WorkOrderTypes.Scheduled;
    var woType = (EnumWrapper.WorkOrderTypes)(woTypeID);
}

<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div id="viewArea" class="wo-details-page">
    <div class="col-xs-12 pageHeader">
        <div class="col-xs-10 homeMenuText">@ViewBag.Title</div>
        <div>
            <span><a href="javascript:closeEdit()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
            <input type="hidden" class="woID" value="@Model.WoID" />
            <input type="hidden" class="woTypeID" value="@woTypeID" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="col-xs-12 row">
                <div class="col-xs-10 headerText">@Model.Wo_</div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-10 subText">@Model.Job</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 headerText"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 subText">@Model.WorkAddress</div>
                        <div class="subText">@Model.Resource</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 subText">@Model.WorkCityStZip</div>
                        <div class="subText">@Model.WoStatus</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 subText">@Model.WorkCountry</div>
                        <div class="subText">@Model.AssignedDate.ToCustomDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 subText"></div>
                        <div class="subText">@Model.ExtHrs.ToFormattedString()</div>
                    </div>
                    <div class="row">
                        <div class="headerText"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-5 dropdown buttons">
                    <button id="open-edit-popup" class="btn btn-default" onclick="openEdit()" role="button" data-url="@Url.Action("edit",new {id=Model.WoID })">Edit</button>
                    <span>
                        <button class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New</button>
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("Call", "create", new { controller = "calls", area = "common", projectid = projectID, nav })</li>*@
                            @*<li>@Html.ActionLink("Case", "create", new { controller = "cases", area = "common", projectid = projectID, nav })</li>*@
                        </ul>
                    </span>
                    <span>
                        <a class="btn btn-default" href="Reports.html">Reports</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-lg-7 headerText">Tasks</div>
            <div class="col-xs-4 col-lg-2 dropdown buttons">
                @*<a class="btn btn-default" href="@Url.Action("additem", new { id = Model.WoID , nav })">Add</a>*@
                <span>
                    <a class="btn btn-default remove-tasks" data-removetasks="@Url.Action("RemoveTasks")" role="button">Remove</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-lg-1"></div>
            <div class="col-xs-10 col-lg-10 list-group">
                <table class="table table-hover grids tasks">
                    <tr>
                        <th width="20"></th>
                        <th width="30" class="formLabelText"></th>
                        <th>Part</th>
                        <th class="col-xs-1 col-lg-1 formLabelText">Est Hrs</th>
                        <th class="col-xs-1 col-lg-1 formLabelText">Act Hrs</th>
                        <th class="col-xs-2 col-lg-2 formLabelText">Status</th>
                    </tr>
                    @if (woType == EnumWrapper.WorkOrderTypes.Scheduled)
                    {
                        foreach (GetWorkOrderTasksByWoID_Result item in ViewBag.Tasks)
                        {
                            <tr class="task">
                                <td><input type="checkbox" class="check" /><input type="hidden" class="assignmentId" value="@item.ViewID" /></td>
                                @*<td><a class="open-info" href="@Url.Action("ItemInfo", new { id = item.ItemID, nav })"><img src="~/images/View.png" width="20"></a></td>*@
                                <td class="subText part">@item.Part</td>
                                <td class="subText estHours num-format format-decimal2">@item.ProjectHours</td>
                                <td class="subText actHours num-format format-decimal2">@item.ActHrs</td>
                                <td class="subText status">@item.C_Comp</td>
                            </tr>
                        }
                    }
                    else if (woType == EnumWrapper.WorkOrderTypes.Punchlist)
                    {
                        foreach (GetWorkOrderPunchListTasksByWoID_Result item in ViewBag.Tasks)
                        {
                            <tr class="task">
                                <td><input type="checkbox" class="check" /><input type="hidden" class="assignmentId" value="@item.ViewID" /></td>
                                @*<td><a class="open-info" href="@Url.Action("details","punchlists", new { id = item.ItemID, nav })"><img src="~/images/View.png" width="20"></a></td>*@
                                <td class="subText part">@item.Task</td>
                                <td class="subText estHours num-format format-decimal2">@item.ProjectHours</td>
                                <td class="subText actHours num-format format-decimal2">@item.ActHrs</td>
                                <td class="subText status">@item.C_Comp</td>
                            </tr>
                        }
                    }
                    <tr class="task data-template">
                        <td><input type="checkbox" class="check" /><input type="hidden" class="assignmentId" value="" /></td>
                        @*<td>
                            <a class="open-info"
                               href="@((woType == EnumWrapper.WorkOrderTypes.Punchlist) ?
                                        Url.Action("details", "punchlists", new { id = "ITEMID", nav })
                                        : Url.Action("ItemInfo", new { id = "ITEMID", nav }))"><img src="~/images/View.png" width="20"></a>
                        </td>*@
                        <td class="subText part"> </td>
                        <td class="subText estHours num-format format-decimal2"> </td>
                        <td class="subText actHours"> </td>
                        <td class="subText status"> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-lg-1 headerText"></div>
            <div class="col-xs-10 col-lg-10 headerText">Actuals</div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 col-lg-3 control-label formLabelText" for="woActualDate">Actual Date</label>
                <div class="col-xs-4 col-lg-3 formFeildText">
                    <input class="form-control datetime-picker" type="text" id="woActualDateId" name="woActualDate" value="@Model.ActualDate">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-lg-3 control-label formLabelText" for="woActualHours">Actual Hrs</label>
                <div class="col-xs-3 col-lg-2 formFeildText">
                    <input class="form-control number-spinner" type="text" id="woActualHoursId" name="woActualHours" value="@Model.ActualHours">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-lg-3 control-label formLabelText" for="woSet">Item Status</label>
                <div class="col-xs-4 col-lg-3 formFeildText">
                    <select class="form-control" id="woSetId" name="woSet">
                        <option value="0.50">In-Progress</option>
                        <option value="1.00">Completed</option>
                    </select>
                </div>
                <div>
                    <div class="dropdown buttons">
                        <div class="tasks-alert alert soft-hide"></div>
                    </div>
                </div>
                <div class="col-xs-1 col-lg-1 dropdown buttons">
                    <a role="button" class="homeLinks update-actuals" data-updateactuals="@Url.Action("UpdateActuals")"><img src="~/images/Save.png" width="20"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-lg-1"></div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src="@Url.Content("~/Scripts/pages/workorder.js")"></script>
}
