@model ePonti.web.Models.PeopleModels.NewContact

@{
    ViewBag.Title = "Edit Contact Info";
    Layout = "~/Areas/Mobile/Views/Shared/_FormLayout.cshtml";

}

<div class="container-fluid" id="editableView">
    <div class="col-xs-12 pageHeader">
        <div class="col-xs-8 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-call"><img src="~/images/Save.png" width="20"></a>
            <span><a href="javascript:closeEdit()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    <div class="col-xs-offset-1 container-fluid">
        @using (Html.BeginForm("edit", "mcontactinfo", new { area = "mobile" }, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "formEditContact" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.ContactID)
            <div class="form-group">
                <div class="headerText"></div>
            </div>
            <div class="col-xs-offset-1 custom-font">
                @Html.ValidationSummary()
                <div class="main-form-alert alert soft-hide"></div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">First</div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.First, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Last</div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.Last, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Company</div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.Company, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Phone</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.TextBoxFor(p => p.Phone, new { @class = "form-control formFeildText format-phone", pattern = "[0-9]{10}" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Mobile</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control formFeildText format-phone", pattern = "[0-9]{10}" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Email</div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.Email, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Address</div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.Address1, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile"></div>
                </div>
                <div class="col-xs-11 formFeildText">
                    @Html.TextBoxFor(p => p.Address2, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">City</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.TextBoxFor(p => p.City, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">State</div>
                </div>
                <div class="col-xs-6 formFeildText">
                    @Html.TextBoxFor(p => p.State, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Zip</div>
                </div>
                <div class="col-xs-6 formFeildText">
                    @Html.TextBoxFor(p => p.Zip, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Country</div>
                </div>
                <div class="col-xs-9 formFeildText">
                    @Html.DropDownListFor(p => p.CountryID, ViewBag.Country as SelectList, "Select", new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Type</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.DropDownListFor(p => p.TypeID, ViewBag.ContactType as SelectList, "Select", new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Status</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.DropDownListFor(p => p.StatusID, ViewBag.ContactStatus as SelectList, "Select", new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3 formLabelTextMobile">Owner</div>
                </div>
                <div class="col-xs-8 formFeildText">
                    @Html.DropDownListFor(p => p.OwnerID, ViewBag.Owner as SelectList, new { @class = "form-control formFeildText" })
                </div>
            </div>
            <div class="form-group">
                <div class="headerText"></div>
            </div>
        }

    </div>
</div>
