@model List<ePonti.BOL.ActivitiesEvents>
@using ePonti.BOL
@using ePonti.web.Models
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Dashboard";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.Dashboard, null);
}

@*This only displays for a User whom is the Company Administrator*@

@if (Convert.ToBoolean(Session["IsAdmin"]) == true)
{
    <div class="col-sm-12 container-fluid" id="AdminButton">
        <div class="row">
            <div class="col-sm-5 mainGridText"></div>
            <div class="col-sm-5 headerText">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/images/Options.png" width="40" />
                    <span>@ViewBag.companyname</span>
                </a>
                <table class="dropdown-menu">
                    <tr>
                        <td><a class="dropdown-header">Options</a></td>
                        <td><a class="dropdown-header">Products</a></td>
                        <td>@Html.ActionLink("Account Info", "Index", "../Options/CoAccount")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Integrations", "Index", "../Options/IntegrationsOptions")</td>
                        <td>@Html.ActionLink("Groups", "Index", "../Options/GroupsOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Activities", "Index", "../Options/ActivitiesOptions")</td>
                        <td>@Html.ActionLink("Manufacturers", "Index", "../Options/ManufacturersOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("People", "Index", "../Options/PeopleOptions")</td>
                        <td>@Html.ActionLink("Stages", "Index", "../Options/StagesOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Leads", "Index", "../Options/LeadsOptions")</td>
                        <td>@Html.ActionLink("Items", "Index", "../Options/ItemsOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Quotes", "Index", "../Options/QuoteOptions")</td>
                        <td>@Html.ActionLink("Kits", "Index", "../Options/KitsOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Jobs", "Index", "../Options/JobOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Service", "Index", "../Options/ServiceOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Accounting", "Index", "../Options/AccountingOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("E-Mail", "Index", "../Options/EmailOptions")</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink("Reporting", "Index", "../Options/ReportingOptions")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-3 mainGridText">Activities</div>
            <div class="col-sm-3 mainGridText">Calendar</div>
        </div>
        <div class="row">
            <div class="col-sm-1 dropdown buttons">
                <button data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">New</button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Call", "Create", "Calls", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Event", "Create", "Events", new { area = "Common", nav }, null)</li>
                    <li>@Html.ActionLink("Note", "Create", "Notes", new { area = "Common", nav }, null)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 list-group" id="activities">
                <div class="col-sm-11">
                    <table class="table table-hover grids">
                        @if (ViewBag.SiteUserActivities != null)
                        {
                            foreach (GetActivitiesBySiteUserID_Result item in ViewBag.SiteUserActivities)
                            {
                                <tr>
                                    <td width="30" height="50">
                                        @if (item.ActivityType == "EV")
                                        {<a href="@Url.Action("details","events",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                                <img src="~/images/Event.png" width="30">
                                            </a>}
                                        @if (item.ActivityType == "CL")
                                        {<a href="@Url.Action("details","calls",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                                <img src="~/images/Call.png" width="30">
                                            </a>}
                                        @if (item.ActivityType == "CA")
                                        {<a href="@Url.Action("details","cases",new { area="common",id=item.ViewID, siteuserID=Model, nav})">
                                                <img src="~/images/Case.png" width="30">
                                            </a>}
                                    </td>
                                    <td class="subText">@item.Info</td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td></td>
                            <td class="info"> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-8 sectionGrids">
                @(Html.Kendo().Scheduler<SchedulerEvents>()
                          .Name("scheduler")
                          .StartTime(new DateTime(2017, 11, 13, 06, 00, 00))
                          .EndTime(new DateTime(2019, 11, 13, 19, 00, 00))
                          .Editable(editable => editable.Destroy(false).Resize(false).Move(false))
                          .Height(1150)
                          .Selectable(true)
                          .Views(views =>
                          {
                              views.DayView();
                              views.WeekView(weekView => weekView.Selected(true));
                              views.MonthView();
                          }).Events(events => events.Edit("scheduler_edit").DataBound("DataBound"))
                          .BindTo(ViewBag.Events)

                )
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    function scheduler_edit(e) {
        e.preventDefault();
        var calEvent = e.event;
        if (calEvent.description.trim() != "") {
            //alert(calEvent.description);
            if (calEvent.description == "EV") {
                window.location.href = "/Common/events/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "CL") {
                window.location.href = "/Common/calls/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "CA") {
                window.location.href = "/Common/cases/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "WO") {
                window.location.href = "/Common/workorders/details/" + calEvent.id + "?nav=db"
            }
        }
        //alert(JSON.stringify(events));
    }

    function DataBound(e) {
        var view = this.view();
        var events = this.dataSource.view();
        var eventElement;
        var event;

        for (var idx = 0, length = events.length; idx < length; idx++) {
            event = events[idx];
            
            //get event element
            eventElement = view.element.find("[data-uid=" + event.uid + "]");

            //set the backgroud of the element
            if (event.color !=null && event.color !=""){
                eventElement.css("background-color", event.color);
            }
        }
    }
</script>