@using ePonti.BOL
@using ePonti.web.Models
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Scheduling";
    var nav = Url.Nav(ePonti.BLL.Common.EnumWrapper.Pages.Scheduling, null);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 mainGridText">Resources</div>
        <div class="col-sm-2 mainGridText">Schedule</div>
    </div>
    <div class="row">
        <div class="col-sm-1 dropdown buttons">
            <button data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">New</button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Call", "Create", "Calls", new { area = "Common", nav }, null)</li>
                <li>@Html.ActionLink("Event", "Create", "Events", new { area = "Common", nav }, null)</li>
                <li>@Html.ActionLink("Note", "Create", "Notes", new { area = "Common", nav }, null)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 list-group" id="resources">
            <div class="col-sm-11">
                <table class="table table-hover grids">
                    @if (ViewBag.CoSiteUsers != null)
                    {
                        foreach (GetSiteUsersBySiteCoID_Result item in ViewBag.CoSiteUsers)
                        {
                            <tr class="item-row">
                                <td width="30" height="50"><input class="item-id siteuser" type="checkbox" id="SiteUserID" name="SiteUserIdArray" value="@item.ViewID" data-id="@item.ViewID" /></td>
                                <td>@item.User</td>
                            </tr>
                        }
                    }
                    <tr class="data-template item-row">
                        <td height="50"> </td>
                        <td class="userdisplayname"> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-9 sectionGrids" id="calendarScheduling" style="display:none"></div>
        <div class="col-sm-9 sectionGrids">
            @(Html.Kendo().Scheduler<SchedulerEvents>()
                          .Name("scheduler")
                          .StartTime(new DateTime(2017, 11, 13, 06, 00, 00))
                          .EndTime(new DateTime(2019, 11, 13, 19, 00, 00))
                          .Editable(editable => editable.Destroy(false).Resize(false).Move(false))
                          .Height(1150)
                          .Selectable(true)
                          .Views(views =>
                          {
                              views.DayView();
                              views.WeekView(weekView => weekView.Selected(true));
                              views.MonthView();
                          }
                          ).Events(events => events.DataBound("DataBound").Edit("scheduler_edit"))

                          .DataSource(d => d
                          .Model(m => m.Id(f => f.id))
                          .Read(read => read.Action("GetEvents", "Scheduling").Data("FilterData"))
                          
                          )
            )
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
</div>

<script language="javascript">
    function scheduler_edit(e) {
        e.preventDefault();
        var calEvent = e.event;
        if (calEvent.description.trim() != "") {
            //alert(calEvent.description);
            if (calEvent.description == "EV") {
                window.location.href = "/Common/events/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "CL") {
                window.location.href = "/Common/calls/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "CA") {
                window.location.href = "/Common/cases/details/" + calEvent.id + "?nav=db"
            }
            if (calEvent.description == "WO") {
                window.location.href = "/Common/workorders/details/" + calEvent.id + "?nav=db"
            }
        }
    }
    function DataBound(e) {
        var view = this.view();
        var events = this.dataSource.view();
        var eventElement;
        var event;

        for (var idx = 0, length = events.length; idx < length; idx++) {
            event = events[idx];

            //get event element
            eventElement = view.element.find("[data-uid=" + event.uid + "]");

            //set the backgroud of the element
            if (event.color != null && event.color != "") {
                eventElement.css("background-color", event.color);
            }
        }
    }

    $('.grids').find('input[type="checkbox"]').change(function () {

        $("#scheduler").data("kendoScheduler").dataSource.read();
        $("#scheduler").data("kendoScheduler").refresh();

    });

    function FilterData() {
        var filter;
        var selectedValues = [];
        $('.grids').find('input[type="checkbox"]:checked').each(function () {

            selectedValues.push($(this).val());

        });
        return {

            SiteUserIdArray: selectedValues
        };
    }
</script>