@model ePonti.web.Models.LeadModels.NewLead

@{
    ViewBag.Title = "New Lead Info";
    ViewBag.FormAction = "create";
}

<div class="container-fluid">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-10 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="#" class="homeLinks save-main-form"><img src="~/images/Save.png" width="20"></a>
            <span><a href="javascript:history.go(-1)"  onclick="return confirm('Do you want to cancel without saving data?')" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a></span>
        </div>
    </div>
    @Html.Partial("_MainForm", Model)
</div>


@section scripts{
    <script>
        var _getContactDataUrl = '@Url.Action("GetContactData")';
        var _isCreate = true;
    </script>
    <script src="@Url.Content("~/Scripts/pages/leadinfo.js")" type="text/javascript"></script>
    <script>

        $('.save-main-form').on('click', function () {
            console.log('saving...')
            var $form = $('#main-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Lead saved.');
                            showAlert($alert, 'success');
                            var url = '@Url.Action("details", new { id="LEADID", nav=Request.QueryString["nav"]})'
                            document.location = url.replace('LEADID', res.leadId);
                        }
                    }
                });
            }
        })
    </script>
}
