@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Activities Options";
}


<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Activities Status</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="activities-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="activities-grid"
                           data-edit="@Url.Action("UpdateActivities")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_ActivitiesStatus.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoActivitiesStatus != null)
                        {
                            foreach (GetActivitiesStatusBySiteCoID_Result item in ViewBag.CoActivitiesStatus)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Purposes List</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="purpose-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="purpose-grid"
                           data-edit="@Url.Action("UpdatePurposeList")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_PurposesList.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoPurposes != null)
                        {
                            foreach (GetPurposesListBySiteCoID_Result item in ViewBag.CoPurposes)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Punch List Types</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="punchlist-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="punchlist-grid"
                           data-edit="@Url.Action("UpdatePunchListType")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_PunchListTypes.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoPunchListTypes != null)
                        {
                            foreach (GetPunchListTypesBySiteCoID_Result item in ViewBag.CoPunchListTypes)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Punch List Departments</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="punchlistdept-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="punchlistdept-grid"
                           data-edit="@Url.Action("UpdatePurposeListDepartment")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_PunchListDepartments.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoPunchListDept != null)
                        {
                            foreach (GetPunchListDeptBySiteCoID_Result item in ViewBag.CoPunchListDept)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Case Types</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="casetype-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="casetype-grid"
                           data-edit="@Url.Action("UpdateCaseType")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_CaseType.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoCaseTypes != null)
                        {
                            foreach (GetCaseTypesBySiteCoID_Result item in ViewBag.CoCaseTypes)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Milestones</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="milestone-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="milestone-grid"
                           data-edit="@Url.Action("UpdateMilestone")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_MileStones.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Stage</th>
                            <th width="100">Type</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoMilestones != null)
                        {
                            foreach (GetMilestonesBySiteCoID_Result item in ViewBag.CoMilestones)
                            {
                                <tr class="item-row">
                                    <td>@item.Name</td>
                                    <td>@item.Stage</td>
                                    <td>@item.Type</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="name"></td>
                            <td class="stage"></td>
                            <td class="type"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Milestones Status</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="milestonestatus-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="milestonestatus-grid"
                           data-edit="@Url.Action("UpdateMilestoneStatus")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_MileStonesStatus.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoMilestonesStatus != null)
                        {
                            foreach (GetMilestonesStatusBySiteCoID_Result item in ViewBag.CoMilestonesStatus)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Milestones Templates</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="milestonetemplate-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="milestonetemplate-grid"
                           data-edit="@Url.Action("UpdateMilestoneTemplate")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Activities_MileStonesTemplates.ToString() })">
                        <tr>
                            <th width="50">View</th>
                            <th class="col-sm-3">Name</th>
                            <th>Description</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoMilestonesTemplates != null)
                        {
                            foreach (GetMilestonesTemplatesBySiteCoID_Result item in ViewBag.CoMilestonesTemplates)
                            {
                                <tr class="item-row">
                                    <td></td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td></td>
                            <td class="name"></td>
                            <td class="description"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@helper NameOrderItems(string Name = "", int? Order = null, int ItemID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
        <td class="actions">
            @actionButtons(ItemID)
        </td>
    </tr>
}

@helper actionButtons(int ItemID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
        <img class="edit" src="~/images/Edit.png" height="15" />
        <img class="save" src="~/images/Save.png" height="15" />
        <img class="cancel" src="~/images/Cancel.png" height="15" />
        <input type="hidden" class="item-id" value="@ItemID" />

}