@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Lead Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="optionGridHeaderText">Number Format</div>
            </div>
            @{
                var isNumberFormatAdded = false;
                if (ViewBag.CoLeadNumFormats != null
                    && (ViewBag.CoLeadNumFormats as List<GetLeadNumFormatsBySiteCoID_Result>).Count() > 0)
                {
                    isNumberFormatAdded = true;
                }

            }
            @if (!isNumberFormatAdded)
            {
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-2 dropdown buttons">
                        <button type="button" class="btn btn-default add-item" role="button" data-grid="format-grid" data-singleitem="true">Add</button>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="format-grid"
                           data-edit="@Url.Action("UpdateNumberFormat")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_NumberFormat.ToString() })">
                        <tr>
                            <th>Data</th>
                            <th width="120">Seperator</th>
                            <th width="100">#</th>
                            <th width="20"></th>
                        </tr>
                        @if (isNumberFormatAdded)
                        {
                            foreach (GetLeadNumFormatsBySiteCoID_Result item in ViewBag.CoLeadNumFormats)
                            {
                                <tr class="item-row">
                                    <td class="data" data-name="data">@item.Data</td>
                                    <td class="sep" data-name="sep">@item.Sep</td>
                                    <td class="num" data-name="num">@item.Num</td>
                                    <td class="actions">
                                        <img class="edit" src="~/images/Edit.png" height="15" />
                                        <img class="save" src="~/images/Save.png" height="15" />
                                        <img class="cancel" src="~/images/Cancel.png" height="15" />
                                        <input type="hidden" class="item-id" value="@item.ViewID" />
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="data" data-name="data"></td>
                            <td class="sep" data-name="sep"></td>
                            <td class="num" data-name="num"></td>
                            <td class="actions">
                                <img class="edit" src="~/images/Edit.png" height="15" />
                                <img class="save" src="~/images/Save.png" height="15" />
                                <img class="cancel" src="~/images/Cancel.png" height="15" />
                                <input type="hidden" class="item-id" value="0" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Status</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="status-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="status-grid"
                           data-edit="@Url.Action("UpdateLeadStatus")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_Status.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="100">Lock</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadStatus != null)
                        {
                            foreach (GetLeadStatusBySiteCoID_Result item in ViewBag.CoLeadStatus)
                            {
                                <tr class="item-row">
                                    <td data-name="name">@item.Status</td>
                                    <td class="order" data-name="order">@item.Order</td>
                                    <td data-name="lock" data-type="check">@(item.Locked == true ? "Yes" : "No")</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="status" data-name="name"></td>
                            <td class="order" data-name="order"></td>
                            <td class="locked" data-name="lock" data-type="check"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Sources</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="type-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="type-grid"
                           data-edit="@Url.Action("UpdateLeadType")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_Type.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadTypes != null)
                        {
                            foreach (GetLeadTypesBySiteCoID_Result item in ViewBag.CoLeadTypes)
                            {
                                @NameOrderItems(item.LeadType, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Ratings</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="rating-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="rating-grid"
                           data-edit="@Url.Action("UpdateRating")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_Rating.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadRatings != null)
                        {
                            foreach (GetLeadRatingsBySiteCoID_Result item in ViewBag.CoLeadRatings)
                            {
                                @NameOrderItems(item.LeadRating, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Stages</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="phases-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="phases-grid"
                           data-edit="@Url.Action("UpdatePhase")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_SalesPhase.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadStages != null)
                        {
                            foreach (GetLeadStagesBySiteCoID_Result item in ViewBag.CoLeadStages)
                            {
                                @NameOrderItems(item.LeadStage, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Probabilities</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="prob-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="prob-grid"
                           data-edit="@Url.Action("UpdateProbability")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_Probability.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadProp != null)
                        {
                            foreach (GetLeadProbabilityBySiteCoID_Result item in ViewBag.CoLeadProp)
                            {
                                <tr class="item-row">
                                    <td class="order" data-name="name">@item.LeadProp</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="order" data-name="name"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Systems</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button" data-grid="systems-grid">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="systems-grid"
                           data-edit="@Url.Action("UpdateSystemType")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Lead_System.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoLeadSystems != null)
                        {
                            foreach (GetLeadSystemsBySiteCoID_Result item in ViewBag.CoLeadSystems)
                            {
                                @NameOrderItems(item.LeadSystems, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@helper NameOrderItems(string Name = "", int? Order = null, int ItemID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
        <td class="actions">
            @actionButtons(ItemID)
        </td>
    </tr>
}

@helper actionButtons(int ItemID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
    <img class="edit" src="~/images/Edit.png" height="15" />
    <img class="save" src="~/images/Save.png" height="15" />
    <img class="cancel" src="~/images/Cancel.png" height="15" />
    <input type="hidden" class="item-id" value="@ItemID" />
}