@using ePonti.BOL
@using ePonti.BLL.Common
@{
    ViewBag.Title = "Job Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="optionGridHeaderText">Number Format</div>
            </div>
            @{
                var isNumberFormatAdded = false;
                if (ViewBag.CoJobNumFormats != null
                    && (ViewBag.CoJobNumFormats as List<GetJobNumFormatsBySiteCoID_Result>).Count() > 0)
                {
                    isNumberFormatAdded = true;
                }

            }
            @if (!isNumberFormatAdded)
            {
                <div class="row">
                    <div class="col-sm-offset-9 col-sm-2 dropdown buttons">
                        <button type="button" class="btn btn-default add-item" role="button" data-grid="format-grid" data-singleitem="true">Add</button>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="format-grid"
                           data-edit="@Url.Action("UpdateNumberFormat")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Job_NumberFormat.ToString() })">
                        <tr>
                            <th>Data</th>
                            <th width="120">Seperator</th>
                            <th width="100">#</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoJobNumFormats != null)
                        {
                            foreach (GetJobNumFormatsBySiteCoID_Result item in ViewBag.CoJobNumFormats)
                            {
                                <tr class="item-row">
                                    <td class="data" data-name="data">@item.Data</td>
                                    <td class="sep" data-name="sep">@item.Sep</td>
                                    <td class="num" data-name="num">@item.Num</td>
                                    <td class="actions">
                                        <img class="edit" src="~/images/Edit.png" height="15" />
                                        <img class="save" src="~/images/Save.png" height="15" />
                                        <img class="cancel" src="~/images/Cancel.png" height="15" />
                                        <input type="hidden" class="item-id" value="@item.ViewID" />
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="data" data-name="data"></td>
                            <td class="sep" data-name="sep"></td>
                            <td class="num" data-name="num"></td>
                            <td class="actions">
                                <img class="edit" src="~/images/Edit.png" height="15" />
                                <img class="save" src="~/images/Save.png" height="15" />
                                <img class="cancel" src="~/images/Cancel.png" height="15" />
                                <input type="hidden" class="item-id" value="0" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Status</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="status-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="status-grid"
                           data-edit="@Url.Action("UpdateJobStatus")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Job_Status.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="100">Locked</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoJobStatus != null)
                        {
                            foreach (GetJobStatusBySiteCoID_Result item in ViewBag.CoJobStatus)
                            {
                                <tr class="item-row">
                                    <td data-name="name">@item.Name</td>
                                    <td class="order" data-name="order">@item.Order</td>
                                    <td data-name="lock" data-type="check">@(item.Locked == true ? "Yes" : "No")</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td data-name="name"></td>
                            <td class="order" data-name="order"></td>
                            <td class="locked" data-name="lock" data-type="check"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Templates</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-gridx="template-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="template-grid"
                           data-edit="@Url.Action("UpdateJobTemplate")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Job_Template.ToString() })">
                        <tr>
                            <th width="50">View</th>
                            <th class="col-sm-3">Name</th>
                            <th>Description</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoJobTemplates != null)
                        {
                            foreach (GetJobTemplatesBySiteCoID_Result item in ViewBag.CoJobTemplates)
                            {
                                <tr class="item-row">
                                    <td class="actions"></td>
                                    <td data-name="name">@item.Name</td>
                                    <td data-name="description">@item.Description</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="actions"></td>
                            <td data-name="name"></td>
                            <td data-name="description"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 row">
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Change Order Request Status</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="corstatus-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="corstatus-grid"
                           data-edit="@Url.Action("UpdateCORStatus")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Job_CORStatus.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="100">Locked</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoCorStatus != null)
                        {
                            foreach (GetCorStatusBySiteCoID_Result item in ViewBag.CoCorStatus)
                            {
                                <tr class="item-row">
                                    <td data-name="name">@item.Name</td>
                                    <td class="order" data-name="order">@item.Order</td>
                                    <td data-name="lock" data-type="check">@(item.Locked == true ? "Yes" : "No")</td>
                                    <td class="actions">
                                        @actionButtons(@item.ViewID)
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td data-name="name"></td>
                            <td data-name="order" class="order"></td>
                            <td data-name="lock" data-type="check"></td>
                            <td class="actions">
                                @actionButtons(0)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 optionGridHeaderText">Change Order Request Types</div>
                <div class="col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" data-grid="cortype-grid" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids" id="cortype-grid"
                           data-edit="@Url.Action("UpdateCORType")"
                           data-delete="@Url.Action("DeleteOption", new { type = EnumWrapper.OptionTypes.Job_CORType.ToString() })">
                        <tr>
                            <th>Name</th>
                            <th width="100">Order</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoCorTypes != null)
                        {
                            foreach (GetCorTypesBySiteCoID_Result item in ViewBag.CoCorTypes)
                            {
                                @NameOrderItems(item.Name, item.Order, item.ViewID)
                            }
                        }
                        @NameOrderItems(IsTemplate: true)
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@helper NameOrderItems(string Name = "", int? Order = null, int ItemID = 0, bool IsTemplate = false)
{
    <tr class="item-row @(IsTemplate?"data-template":"")">
        <td class="name" data-name="name">@Name</td>
        <td class="order" data-name="order">@(Order.HasValue ? Order.Value.ToString() : "")</td>
        <td class="actions">
            @actionButtons(ItemID)
        </td>
    </tr>
}

@helper actionButtons(int ItemID)
{
    <img class="delete" src="~/images/Delete.png" height="15" />
    <img class="edit" src="~/images/Edit.png" height="15" />
    <img class="save" src="~/images/Save.png" height="15" />
    <img class="cancel" src="~/images/Cancel.png" height="15" />
    <input type="hidden" class="item-id" value="@ItemID" />
}