@using ePonti.BOL
@using GridMvc.Html
@using ePonti.BLL.Common;
@model List<GetProjectsByBuilder_Result>
@using System.Data.Entity.Core.Objects
@{
    ViewBag.Title = "Builder";
}

<div class="col-sm-12 container-fluid">
    <div class="row">
        <div class="col-sm-8 mainGridText">@ViewBag.Title</div>
    </div>
    <div class="tab-pane" id="projects">
        <div class="col-sm-10 list-group">
            @Html.Grid(ViewBag.Builder as List<GetProjectsByBuilder_Result>).Columns(columns =>
       {
           columns.Add().Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(s => (s.Type == "L") ? "<a href=\"" + @Url.Action("details", "leadinfo", new { area = "pages", id = s.ViewID }) + "\"><img src=\"" + Url.Content("~/images/Leads.png") + "\" width=\"30\"></a>" : (s.Type == "Q") ? "<a href=\"" + @Url.Action("details", "quoteinfo", new { area = "pages", id = s.ViewID }) + "\"><img src=\"" + Url.Content("~/images/Quotes.png") + "\" width=\"30\"></a>" : (s.Type == "J") ? "<a href=\"" + @Url.Action("details", "jobinfo", new { area = "pages", id = s.ViewID }) + "\"><img src=\"" + Url.Content("~/images/Jobs.png") + "\" width=\"30\"></a>" : "");
           columns.Add(s => s.Builder).Sortable(true).Css("subText").Titled("Builder").Filterable(true);
           columns.Add(s => s.Site).Sortable(true).Css("subText col-sm-2").Titled("Site").Filterable(true);
           columns.Add(s => s.Lot_).Sortable(true).Css("subText col-sm-1").Titled("Lot#").Filterable(true).RenderValueAs(s => s.Lot_ + "#");
           columns.Add(s => s.Project).Sortable(true).Css("subText col-sm-3").Titled("Project").Filterable(true);
           columns.Add(s => s.Status).Sortable(true).Css("col-sm-1 subText").Titled("Status").Filterable(true);
           columns.Add(s => s.CloseDate).Sortable(true).Css("subText col-sm-1").Titled("Close Date").RenderValueAs(s => s.CloseDate.ToCustomDateString()); ;
       }).WithPaging(20, 20, "BuilderList")

            @*<table class="table table-hover grids">
                <tbody>
                    @if (ViewBag.Builder != null)
                    {
                        <tr>
                            <th width="50"></th>
                            <th>Builder</th>
                            <th class="col-sm-2">Site</th>
                            <th class="col-sm-1">Lot#</th>
                            <th class="col-sm-3">Project</th>
                            <th class="col-sm-1">Status</th>
                            <th class="col-sm-1">Close Date</th>
                        </tr>
                        foreach (var item in ViewBag.Builder as List<GetProjectsByBuilder_Result>)
                        {
                            <tr>
                                <td width="30" height="50">
                                    @if (item.Type == "L")
                                    {<a href="@Url.Action("details", "leadinfo", new { area = "pages", id = item.ViewID })">
                                        <img src="~/images/Leads.png" width="30">
                                    </a>}
                                    @if (item.Type == "Q")
                                    {<a href="@Url.Action("details", "quoteinfo", new { area = "pages", id = item.ViewID })">
                                        <img src="~/images/Quotes.png" width="30">
                                    </a>}
                                    @if (item.Type == "J")
                                    {<a href="@Url.Action("details", "jobinfo", new { area = "pages", id = item.ViewID })">
                                        <img src="~/images/Jobs.png" width="30">
                                    </a>}
                                </td>
                                <td class="subText">@item.Builder</td>
                                <td class="subText">@item.Site</td>
                                <td class="subText">@item.Lot_#</td>
                                <td class="subText">@item.Project</td>
                                <td class="subText">@item.Status</td>
                                <td class="subText">@item.CloseDate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>*@
        </div>
    </div>

</div>
