@using ePonti.BOL
@using ePonti.BLL.Common;
@model List<GetProjectsByBuilder_Result>
@{
    ViewBag.Title = "Reports";
    var nav = Url.Nav(EnumWrapper.Pages._NONE);
}

<div class="col-sm-12 container-fluid">
    <div class="row">
        <div class="col-sm-8 mainGridText">@ViewBag.Title</div>
        <div class="buttons dropdown">
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-2 dropdown buttons">
            <a class="btn btn-default" href="@Url.Action("BuildersView","report",new { area = "sections", siteCoID = ViewBag.SiteCoID }, null)">Builder</a>
        </div>
    </div>


        @*Need to add Filter for Group*@
        <div class="row search-filters">

        </div>
        <div class="row">
            <div class="col-sm-9 sectionGrids">
                <table class="table table-hover grids">
                    <tr>
                        <th width="30"></th>
                        <th class="col-sm-2">Group</th>
                        <th class="col-sm-4">Report</th>
                        <th>Description</th>
                    </tr>
                    @if (ViewBag.CoReports != null)
                    {
                        foreach (GetReportsBySiteCoID_Result item in ViewBag.CoReports)
                        {
                                <tr class="item-row">
                                    <td height="50">
                                        <a href="@Url.Action("reportviewer","report",new { area = "sections", projectid = ViewBag.projectId, groupid = item.GroupID, nav })">
                                            <img src="~/images/Reporting.png" width="30" data-id="@item.ViewID">
                                        </a>
                                    </td>
                                    <td class="subText">@item.Group</td>
                                    <td class="subText">@item.Report</td>
                                    <td class="subText">@item.Description</td>
                                </tr>
                        }
                    }


                    @*@if (ViewBag.CoReports != null)
                    {
                        foreach (GetReportsBySiteCoID_Result item in ViewBag.CoReports)
                        {
                                <tr class="item-row">
                                    <td height="50">
                                        <a href="@Url.Action("reportviewer","report",new { area = "sections", projectid = ViewBag.projectId, nav })">
                                            <img src="~/images/Reporting.png" width="30" data-id="@item.ViewID">
                                        </a>
                                    </td>
                                    <td class="subText">@item.Group</td>
                                    <td class="subText">@item.Report</td>
                                    <td class="subText">@item.Description</td>
                                </tr>
                        }
                    }*@
                </table>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
