@using ePonti.BOL
@using ePonti.BLL.Common;
@{
    ViewBag.Title = "Reports";
    var nav = Url.Nav(EnumWrapper.Pages._NONE);

    Layout = "~/Areas/Common/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 container-fluid">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a class="homeLinks" href="@Url.ActionPrev()"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-11 sectionGrids">
            <table class="table table-hover grids">
                <tr>
                    <th width="30"></th>
                    <th class="col-sm-4">Report</th>
                    <th>Description</th>
                </tr>
                @if (ViewBag.CoReports != null)
            {
                foreach (GetReportsBySiteCoID_Result item in ViewBag.CoReports)
                {
                        <tr class="item-row">
                            <td height="50">
                                <a href="@Url.Action("shortviewer","report",new { area = "sections", projectid = ViewBag.projectId, nav })">
                                    <img src="~/images/Reporting.png" width="30" data-id="@item.ViewID">
                                </a>
                            </td>
                            <td class="subText">@item.Report</td>
                            <td class="subText">@item.Description</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
</div>
