<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en" />
    <title>@ViewBag.Title - ePonti.terms.Resource1.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom CSS -->
    <link href="~/Content/ePontiV9Prototype.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Special Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
    <div class="pageLayout">
        @*This is the Navigation Menu which opens to the left*@
        <div id="ePontiSideNav" class="sideNav">
            <ul class="sidebarNav">
                <li>
                    <a href="javascript:void(0)" onclick="closeNav()">&times;</a>
                </li>
                @*This displays the Customer's Sponsor Company Logo, by default it will display the Applicaiton Logo*@
                <li>
                    <img src="http://eponti.com/wp-content/uploads/2016/08/AzRenewLlcLogo6.png">
                </li>
                @*This Displays the Logged In User's Display Name and the link opens their Profile Form*@
                <li>@Html.ActionLink("[UserDisplayName]", "Index", "../Manage")</li>
                <li>@Html.ActionLink("Portal", "Index", "Portal")</li>
                <li>
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "homeLinks" }))
                        {
                            @Html.AntiForgeryToken()

                            <div>
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="homeMenuText">Log off</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "homeLinks" })
                        </div>
                    }
                </li>
            </ul>
        </div>
        @*This is the Header above the Main body of the Page which opens the Side Navigation*@
        <div class="col-sm-12 col-lg-12 container-fluid" id="header">
            <div class="row">
                @*Link to open Nav*@
                <div class="col-sm-2 col-lg-2 dropdown">
                    <a class="menuBtn" onclick="openNav()">
                        <img src="~/images/ePontiDecLogoV10.png" height="30">
                    </a>
                </div>
            </div>
        </div>
        <div class="pageLayout">
            @RenderBody()

            <footer>
                <div class="col-sm-11 pageFooter">&copy; @ePonti.terms.Resource1.AppStdFooter</div>
            </footer>
        </div>
    </div>


    <script src="~/Scripts/ePontiV9Prototype.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src='~/Scripts/jquery.min.js'></script>
    <script src='~/Scripts/moment.min.js'></script>

</body>
</html>
