@using ePonti.BLL.Common
@using ePonti.BOL;
@model  ePonti.web.Models.StageModels.StageMasterEdit

<table class="table table-hover grids stageDetails">
    <tr>
        <th>Labor</th>
        <th class="col-sm-2 col-lg-2 formLabelText">Cost/Hr</th>
        <th class="col-sm-2 col-lg-2 formLabelText">Price/Hr</th>
        <th class="col-sm-2 col-lg-2 formLabelText">%</th>
        <th class="col-sm-2 col-lg-2 formLabelText">Extension</th>
    </tr>
    @{int stageSubIndex = 0;
            //var q = ViewBag.Labors as ePonti.web.Models.StageModels.StageMasterEdit;

            if (Model != null)
            {
                foreach (ePonti.web.Models.StageModels.StageDetails stage in Model.StageSubDetails)
                {
                <tr class="stageDetail">
                    <td>
                        <span class="subName">@stage.SubName</span>
                        <input type="hidden" class="substage-id" value="@stage.SubStageID" />
                        <input type="hidden" class="stagemaster-id" value="@stage.StageMasterID" />
                        <input type="hidden" class="index" value="@(stageSubIndex++)" />
                    </td>
                    <td class="num-format costPerHour">@stage.CostPerHour.ToFormattedString(2)</td>
                    <td class="num-format pricePerHour">@stage.PricePerHour.ToFormattedString(2)</td>
                    <td class="num-format">@((stage.Percent*100).ToFormattedString(0))%</td>
                    <td class="num-format sellPerHour">@stage.SellPerHour.ToFormattedString(2)</td>
                </tr>
            }
            <tr class="footer">
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td class="totalPerHour num-format total-format">@(Model.StageSubDetails.Sum(p => p.SellPerHour).ToFormattedString(2))</td>
            </tr>
        }
    }
</table>


