@model ePonti.BOL.GetTimeItByID_Result
@using ePonti.BLL.Common
@{
    ViewBag.Title = "TimeIt Info";
}

<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div id="viewArea">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 pageHeader">
            <div class="col-xs-10 col-sm-11 homeMenuText">@ViewBag.Title</div>
            <div>
                <a href="@Url.ActionPrev()" class="homeLinks"><img src="~/images/Cancel.png" width="20"></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-6 col-xs-5 col-sm-offset-8 col-sm-3 dropdown buttons">
                <button class="btn btn-default" onclick="openEdit()" id="open-edit-popup" data-url="@Url.Action("Edit","TimeIts", new { @id = Model.ActivityID })" role="button">Edit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-8 headerText">@Model.Task</div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-8">
                <div class="row">
                    <div class="subText"></div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Job</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Resource</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Stage</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Paytype</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Date.ToCustomDateTimeString()</div>
                </div>
                <div class="row">
                    <div class="subText">@Model.Hours Hours</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-1 col-sm-offset-1 col-sm-1 control-label formLabelText">Note</div>
            <div class="col-xs-9 col-sm-9 formFeildText">
                <textarea class="form-control" rows="10" id="timeItNote">@Model.Note</textarea>
            </div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
        <div class="row">
            <div class="headerText"></div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $('#ProjectID').on('change', function () {
            var projID = $(this).val();
            if (!projID) { return; }

            $.get('@Url.Action("GetProjectData")', { Id: projID}, function (res) {
                if (res) {
                    fillDropdown($('#StageID'), res.stages, 'Name', 'Id');
                    fillDropdown($('#PaytypeID'), res.payTypes, 'Name', 'Id');
                }
            });
        });

        $('.update-notes').on('click', function () {
            var note = $('#timeItNote').val();
            var timeItID = $('#timeItID').val();

            $.post('@Url.Action("UpdateTimeItNotes")', { TimeItID: timeItID, Note: note }, function (res) {

                var $alert = $('.notes-alert');
                if (res && res.result) {
                    $alert.text('Saved!');
                    showAlert($alert,'success', 3000);
                } else {
                    $alert.text('Error! Please retry!');
                    showAlert($alert, 'danger', 3000);
                }
            });
        });

        $('#open-edit-popup').on('click', function () {
            $('#editableArea').load('@Url.Action("edit",new { id=Model.ActivityID, contactid=Request.QueryString["contactid"], projectId = Request.QueryString["projectId"]})', function () {
                $('#Date').val($('#Date').attr('data-value'));
                initDateTimePicker();
                initNumberSpinner();
                $('.datetime-picker').removeAttr("data-val-date");
            });
        })

        $('body').on('click', '.save-timeit', function () {
            debugger
            var $form = $('#main-form');
            if ($form.valid()) {
                var noteid = '@Model.ActivityID';
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Note saved.');
                            showAlert($alert, 'success');
                            // document.location = res.timeItID;
                            document.location = res.timeItID+"?projectid="+@Request.QueryString["projectid"];
                        }
                    }
                });
            }
        })
    </script>
}
