@using ePonti.BOL
@{
    ViewBag.Title = "Reporting Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 row"></div>
        <div class="col-sm-3 row">
            <div class="row">
                <div class="optionGridHeaderText">Defaults</div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <div class="row">
                        <label class="col-sm-3 control-label formLabelText">Work Order</label>
                        <div class="col-sm-8 formFeildText">
                            <select class="form-control" id="work_order_id">
                                @foreach (var item in ViewBag.WorkOrderList)
                                {
                                    <option value="@item.ViewID">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label formLabelText">POR</label>
                        <div class="col-sm-8 formFeildText">
                            <select class="form-control" id="por_id">
                                @foreach (var item in ViewBag.PorList)
                                {
                                    <option value="@item.ViewID">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label formLabelText">Delivery</label>
                        <div class="col-sm-8 formFeildText">
                            <select class="form-control" id="delivery_id">
                                @foreach (var item in ViewBag.DeliveryList)
                                {
                                    <option value="@item.ViewID">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label formLabelText">Work Request</label>
                        <div class="col-sm-8 formFeildText">
                            <select class="form-control" id="work_request_id">
                                @foreach (var item in ViewBag.RequestList)
                                {
                                    <option value="@item.ViewID">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-6 col-lg-offset-6 col-lg-4 dropdown buttons">
                            <button type="button" id="update_list" class="btn btn-default add-item" role="button">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-7 row">
            <div class="row">
                <div class="col-sm-9 optionGridHeaderText">Reports</div>
            </div>
            <div class="row">
                <div class="col-sm-offset-9 col-sm-2 dropdown buttons">
                    <button type="button" class="btn btn-default add-item" role="button">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids">
                        <tr>
                            <th width="30">View</th>
                            <th width="150">Group</th>
                            <th width="250">Report</th>
                            <th>Description</th>
                        </tr>
                        @if (ViewBag.CoReports != null)
                        {
                            foreach (GetReportsBySiteCoID_Result item in ViewBag.CoReports)
                            {
                                <tr class="item-row">
                                    <td height="50"><img src="~/images/Reporting.png" width="30" data-id="@item.ViewID"></td>
                                    <td>@item.Group</td>
                                    <td>@item.Report</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td height="50"></td>
                            <td class="group"> </td>
                            <td class="report"> </td>
                            <td class="description"> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
        $("#update_list").click(function () {
            var work_order_id = document.getElementById('work_order_id').value;
            var por_id = document.getElementById('por_id').value;
            var delivery_id = document.getElementById('delivery_id').value;
            var work_request_id = document.getElementById('work_request_id').value;
            var link = '@Url.Action("Save", "reportingoptions", new { area = "options"})?woid=' + work_order_id + '&porid=' + por_id + '&deliveryid=' + delivery_id + '&reqid=' + work_request_id;
            location.href = link;
        });
</script>
}

