@model ePonti.web.Models.ProjectReportModel
@{
    Layout = null;
    var isfirst = true;
}

<div align="center">
    <table cellspacing="0" cellpadding="3" border="0">
        <tbody>
            <!-- LOGO -->
            <tr>
                <td style="padding:0cm 0cm 0cm 0cm" colspan="5"><img src="@Model.Logo" alt="banner" width="25%" border="0"></td>
            </tr>
            <!-- Company's name and address -->
            <tr>
                <td colspan="5">
                    <address>
                        @Model.Company<br>
                        @Model.CoAddress<br>
                        @Model.CoAddress2<br>
                        @Model.CoPhone<br>
                    </address>
                </td>
                <td></td>
            </tr>
            <!-- Date -->
            <tr>
                <td colspan="4"></td>
                <td style="text-align: right;">Date <strong>@Model.Date.ToString("MMM/dd/yyyy")</strong></td>
            </tr>
            <!-- Customer and Projects -->
            <tr>
                <td colspan="2">
                    <span>Customer</span>
                    <hr />
                    <address>
                        @Model.Customer<br>
                        @Model.CustomerAddress1<br>
                        @Model.CustomerAddress2
                    </address>
                </td>
                <td>&nbsp;</td>
                <td colspan="2">
                    <span>Project</span>
                    <hr />
                    <address>
                        @Model.ProjectName<br>
                        @Model.ProjectAddress<br>
                        @Model.ProjectAddress2<br>
                    </address>
                </td>
            </tr>
            <!-- Details -->
            <tr>
                <td colspan="5">
                    <table>
                        <tbody>

                            <tr>
                                <td colspan="5">
                                    <h2>@Model.Area</h2>
                                    <p style="font-size:12px;">&nbsp;</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            @if (Model.ProjectReportItemList != null)
                            {
                                foreach (var item in Model.ProjectReportItemList)
                                {

                                    <tr>
                                        <td colspan="2" style="border-bottom:solid 1px ">@item.Division</td>
                                        @if (isfirst)
                                        {
                                            <td>QTY</td>
                                            <td>Unit</td>
                                            <td>Extended</td>
                                        }
                                        @{ isfirst = false; }
                                    </tr>

                                    <tr>
                                        <td colspan="2"><strong>@item.Item</strong><br><p style="font-size:12px;">&nbsp;</p></td>
                                        <td>@String.Format("{0:0.00}", item.Qty)</td>
                                        <td>@String.Format("{0:0.00}", item.Hrs)</td>
                                        <td>$@String.Format("{0:0.00}", item.Price)</td>
                                    </tr>
                                   }
                             }
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="2">@Model.Area Installed</td>
                                @*<td>$@String.Format("{0:0.00}", Model.Installed)</td>*@
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="2">@Model.Area Labor</td>
                                @*<td>$@String.Format("{0:0.00}", Model.Labor)</td>*@
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                @*<td colspan="2">@Model.Area Subtotal</td>*@
                                <td>$0.00</td>
                            </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
