@model ePonti.BOL.GetLeadInfoByProjectId_Result
@using System.Data.Entity.Core.Objects
@using ePonti.BOL.Models
@using ePonti.BOL
@using ePonti.BLL.Common

@{
    ViewBag.Title = "Lead Info";
    var nav = Url.Nav(EnumWrapper.Pages.LeadDetails, Model.ViewID);
    var contactId = ViewBag.ContactId;
}
<div class="editableArea" id="editableArea"></div>
<!-- This is the Viewable Area of the page -->
<div id="viewArea">
    <div class="col-sm-12 pageHeader">
        <div class="col-sm-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a class="homeLinks" href="@Url.ActionPrev()"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                <div class="headerText">@Model.LeadName</div>
                <input type="hidden" id="leadID" value="@Model.ViewID" />
            </div>
            <div class="row">
                <div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText">@Model.Prosepect</div>
                        <div class="col-sm-4 col-lg-3 subText">@Model.Builder</div>
                        <div class="subText">@Model.Status</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText format-phone">@Model.Phone</div>
                        <div class="col-sm-4 col-lg-3 subText">@Model.Site</div>
                        <div class="subText">@Model.CloseDate.ToCustomDateString()</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText">@Model.E_Mail</div>
                        <div class="col-sm-4 col-lg-3 subText">@Model.Lot</div>
                        <div class="subText">@Model.Type</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText">@Model.ProjectAddress1 @Model.ProjectAddress2</div>
                        <div class="col-sm-4 col-lg-3 subText"></div>
                        <div class="subText">@Model.Probability</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText">@Model.ProjectCity, @Model.ProjectState, @Model.ProjectZip</div>
                        <div class="col-sm-4 col-lg-3 subText"></div>
                        <div class="subText">$@Model.Budget</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 subText">@Model.ProjectCountry</div>
                        <div class="col-sm-4 col-lg-3 subText"></div>
                        <div class="subText">@Model.Stage</div>
                    </div>
                    <div class="row">
                        <div class="headerText"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-lg-offset-5 dropdown buttons">
                    <button class="btn btn-default" id="open-edit-popup" onclick="openEdit()" role="button">Edit</button>
                    <span>
                        <a class="btn btn-default" id="lead-won" role="button" href="@Url.Action("create", "quoteinfo", new { leadid = Model.ViewID, from = EnumWrapper.FromPage.leadwon.ToString(), nav })">Won</a>
                    </span>
                    <span>
                        <button class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">New</button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Call", "create", new { controller = "calls", area = "common", projectid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Event", "create", new { controller = "events", area = "common", projectid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Note", "create", new { controller = "notes", area = "common", projectid = Model.ViewID, nav })</li>
                            <li>@Html.ActionLink("Case", "create", new { controller = "cases", area = "common", projectid = Model.ViewID, nav })</li>
                        </ul>
                    </span>
                    <span>
                        <a class="btn btn-default" href="@Url.Action("leadviewer","report",new { area = "sections", projectid = Model.ViewID, nav })">
                            Reports
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bs-component">
            <ul class="nav nav-tabs tabText">
                <li class="active"><a href="#activities" data-toggle="tab">Activities</a></li>
                <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
                <li><a href="#files" data-toggle="tab">Files</a></li>
            </ul>
            <div id="contactInfoTabs" class="tab-content">
                <div class="tab-pane fade active in" id="activities">
                    <div class="col-sm-6 list-group">
                        <table class="table table-hover grids">
                            <tr>
                                <th width="50"></th>
                                <th class="col-sm-1 tabText">Date</th>
                                <th class="tabText">Info</th>
                                <th class="col-sm-2 tabText">Status</th>
                            </tr>
                            @foreach (var item in ViewBag.Activities as ObjectResult<GetActivitiesByProjectId_Result>)
                            {
                                <tr>
                                    <td width="30" height="50">
                                        @if (item.ActivityType == "EV")
                                        {<a href="@Url.Action("details", "events", new { area = "common", id = item.ViewID, leadid = Model.ViewID, projectID = Model.ViewID, nav })">
                                            <img src="~/images/Event.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CL")
                                        {<a href="@Url.Action("details", "calls", new { area = "common", id = item.ViewID, leadid = Model.ViewID, projectID = Model.ViewID, nav })">
                                            <img src="~/images/Call.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "CA")
                                        {<a href="@Url.Action("details", "cases", new { area = "common", id = item.ViewID, leadid = Model.ViewID, projectID = Model.ViewID, nav })">
                                            <img src="~/images/Case.png" width="30">
                                        </a>}
                                        @if (item.ActivityType == "NT")
                                        {<a href="@Url.Action("details", "notes", new { area = "common", id = item.ViewID, leadid = Model.ViewID, projectID = Model.ViewID, nav })">
                                            <img src="~/images/Note.png" width="30">
                                        </a>}
                                    </td>
                                    <td class="subText">@(item.Date.HasValue ? item.Date.Value.ToCustomDateString() : "")</td>
                                    <td class="subText">@item.Info</td>
                                    <td class="subText">@item.Status</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="contacts">
                    <div class="col-sm-6 list-group">
                        <table class="table table-hover grids">
                            <tr>
                                <th width="30"></th>
                                <th class="tabText">Contact</th>
                                <th class="col-sm-4 tabText">Relationship</th>
                                <th width="70"></th>
                            </tr>
                            @foreach (var item in ViewBag.ProjectContacts as ObjectResult<GetProjectContactsByProjectID_Result>)
                            {
                                <tr>
                                    <td height="50">
                                        <a href="@Url.Action("details", "contactinfo", new { area = "pages", id = item.ViewID, leadid = Model.ViewID, nav })">
                                            <img src="~/images/People.png" width="30">
                                        </a>
                                    </td>
                                    <td class="subText">@item.Contact</td>
                                    <td class="subText">@item.Relationship</td>
                                    <td></td>
                                </tr>
                            }
                            <tr class="data-template add-contact-template lead-contact">
                                <td height="50">
                                    <a class="contact-link" href="@Url.Action("details", "contactinfo", new { area = "pages", id = "CONTACTID", leadid = Model.ViewID, nav })">
                                        <img src="~/images/People.png" width="30">
                                    </a>
                                </td>
                                <td class="subText contact-name"></td>
                                <td class="subText contact-rel"></td>
                                <td></td>
                            </tr>
                            <tr class="lead-contact-add-row soft-hide">
                                <td></td>
                                <td class="subText">
                                    <div>
                                        @Html.DropDownList("select-lead-contact", ViewBag.Contacts as SelectList, "Select", new { @class = "form-control" })
                                    </div>
                                </td>
                                <td class="subText">
                                    <div>
                                        @Html.DropDownList("select-lead-rel", ViewBag.Relationships as SelectList, "Select", new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <a class="save-lead-contact"><img src="~/images/Save.png" width="20"></a>
                                    <a class="cancel-lead-contact"><img src="~/images/Cancel.png" width="20"></a>
                                </td>
                            </tr>
                            <tr class="last-row">
                                <td colspan="4"><input type="button" value="Add" class="btn btn-default add-lead-contact" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="files">
                    <div class="col-sm-5 list-group">
                        <div class="row">
                            <div class="headerText"></div>
                        </div>
                        <div class="col-sm-offset-1 col-sm-3 tabText dropContainer">
                            <div id="dropzoneform" class="dropzone_div"
                                 style="background-color:#ffffff">
                                Drop or click to select files here
                            </div>
                        </div>
                        <div class="row">
                            <div class="headerText"></div>
                        </div>
                        @{
                            if (ViewBag.FilesList != null)
                            {
                                <table class="col-sm-8 table table-hover grids">
                                    <tr>
                                        <th class="tabText">Name</th>
                                        <th class="col-sm-3 tabText"> Modified</th>
                                        <th class="col-sm-1 tabText">Download</th>
                                    </tr>
                                    @if (ViewBag.LocalFolder == true)
                                    {
                                        foreach (var files in ViewBag.FilesList)
                                        {
                                            <tr>
                                                <td>@files.Name</td>
                                                <td>@files.ClientModified</td>
                                                <td>
                                                    <a href="@(String.Format("{0}{1}", "/Pages/JobInfo/DownloadLocalFiles?path=", files.FilePath))">
                                                        <img src="~/images/Download.png" width="30" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var files in ViewBag.FilesList)
                                        {
                                            <tr>
                                                <td>@files.Name</td>
                                                <td>@files.ClientModified</td>
                                                <td>
                                                    <a id="dropdownload" href="@(String.Format("{0}{1}", "/Pages/JobInfo/DownloadFiles?path=", files.PathDisplay))">
                                                        <img src="~/images/Download.png" width="30" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var _addLeadContactUrl = '@Url.Action("AddLeadContact")';
        var _getContactDataUrl = '@Url.Action("GetContactData")';
        var _isCreate = false;
    </script>
    <script src="@Url.Content("~/Scripts/pages/leadinfo.js")" type="text/javascript"></script>

    <script>

        $('#open-edit-popup').on('click', function () {
            $('#editableArea').load('@Url.Action("edit",new { id=Model.ViewID})', function () {
                $('#CloseDate').val($('#CloseDate').attr('data-value'));
                $('.date-picker').removeAttr("data-val-date");
                $('#due').val($('#due').attr('data-value'));
                initDatePicker();
                initNumberSpinner();
                onEditPopupOpened();
            });
        })

        $('body').on('click', '.save-main-form', function () {
            console.log('saving...')
            var $form = $('#main-form');
            if ($form.valid()) {
                $('.validation-summary-errors').find('li').remove();
                var $alert = $('.main-form-alert');

                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    data: $form.serialize(),
                    success: function (res) {
                        if (res.status == 'error') {
                            var errors = 'Enter correct data and retry.'
                            if (res.errors && res.errors.length > 0) {
                                errors = res.errors.join('<br>');
                            }
                            $alert.html(errors);
                            showAlert($alert, 'danger', -1);
                        }
                        else if (res.status = 'success') {
                            $alert.html('Lead saved.');
                            showAlert($alert, 'success');
                            //var url = '@Url.Action("details")' + '/'
                            document.location.reload();
                        }
                    }
                });
            }
        });
        $(document).ready(function () {
            loaddropzone("dropzoneform", "/Pages/jobinfo/details/@Model.ViewID", "image/jpg, image/jpeg, image/png, application/pdf, application/docx, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document","@Url.Content("~/images/loader.gif")");
        });

    </script>
}
