@using ePonti.BOL
@{
    ViewBag.Title = "Items Options";
}

<div class="container-fluid">
    <div class="col-sm-12 col-lg-12 pageHeader">
        <div class="col-sm-11 col-lg-11 homeMenuText">@ViewBag.Title</div>
        <div>
            <a href="@Url.Action("Index","../Sections/Dashboard")" class="homeLinks close-page"><img src="~/images/Cancel.png" width="20"></a>
        </div>
    </div>
    <div class="row">
        <div class="headerText"></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 row">
            <div class="row">
                <div class="col-sm-offset-9 col-sm-2 dropdown buttons">
                    <a class="btn btn-default" href="@Url.Action("create", "items", new { area = "common" }, null)" role="button" aria-haspopup="true" aria-expanded="false">New</a>
                </div>
            </div>
            <div class="row  search-filters">
                <br /><br />
                @using (Html.BeginForm("Index", "ItemsOptions", FormMethod.Post))
                {
                    <div class="col-sm-11">
                        <label class="col-sm-1 control-label formLabelText">Group</label>
                        <div class="col-sm-2 formFeildText">
                            @Html.DropDownList("Group", ViewBag.groups as SelectList, "Select Group", new { @class = "col-sm-4 form-control" })
                        </div>
                        <label class="col-sm-1 control-label formLabelText">Manufacturer</label>
                        <div class="col-sm-3 formFeildText">
                            @Html.DropDownList("Manufacturer", ViewBag.Manufacturers as SelectList, "Select Manufacturer", new { @class = "col-sm-2 form-control" })
                        </div>
                        <label class="col-sm-1 control-label formLabelText">Model</label>
                        <div class="col-sm-2 formFeildText">
                            @Html.TextBox("Model","", new { @class = "col-sm-2 form-control",@placeholder= "Model" })
                        </div>
                        <div class="col-sm-1 formFeildText">
                            <button type="submit" role="button" class="btn btn-default">Search</button>
                        </div>
                        @*<div class="col-sm-1 formFeildText">
                        <a id="hidestatus">Hide</a>
                    </div>
                    <div class="col-sm-3 formFeildText stshide" style="display:none;">
                        @Html.DropDownList("HideStatus", ViewBag.ProjectHideStatus as SelectList, new { multiple = "multiple", @class = "col-sm-2 form-control", id = "StatusHide" })
                        <button type="submit" role="button" class="btn btn-default">Hide</button>
                    </div>*@
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-11 list-group">
                    <table class="table table-hover grids">
                        <tr>
                            <th width="50"></th>
                            <th class="col-sm-1">Group</th>
                            <th class="col-sm-2">Manufacturer</th>
                            <th>Model</th>
                            <th class="col-sm-2">Stage</th>
                            <th class="col-sm-2">Vendor</th>
                            <th width="20"></th>
                        </tr>
                        @if (ViewBag.CoItems != null)
                        {
                            foreach (GetItemsBySiteCoID_Result item in ViewBag.CoItems)
                            {
                                <tr class="item-row">
                                    <td>
                                        <a href="@Url.Action("details", "items", new { area="common", id=item.ViewID })">
                                        <img src="~/images/View.png" width="20"></a>
                                    </td>
                                    <td>@item.Group</td>
                                    <td>@item.Manufacturer</td>
                                    <td>@item.Model</td>
                                    <td>@item.Stage</td>
                                    <td>@item.Vendor</td>
                                    <td>
                                        <img src="~/images/Delete.png" height="15" />
                                        <input type="hidden" class="item-id" />
                                        <input type="hidden" class="row-id" value="@item.ViewID" />
                                    </td>
                                </tr>
                            }
                        }
                        <tr class="data-template item-row">
                            <td class="viewid"></td>
                            <td class="group"></td>
                            <td class="manufacturer"></td>
                            <td class="model"></td>
                            <td class="stage"></td>
                            <td class="vendor"></td>
                            <td class="delete">
                                <img src="~/images/Delete.png" height="15" />
                                <input type="hidden" class="item-id" />
                                <input type="hidden" class="row-id" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
