@model ePonti.web.Models.PunchListModels.NewPunchList

@using (Html.BeginForm((string)ViewBag.FormAction, "mpunchlist", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.PunchListID)
    <div class="form-group">
        <div class="headerText"></div>
    </div>
    <div class="col-xs-offset-1 custom-font">
        @Html.ValidationSummary()
        <div class="main-form-alert alert soft-hide"></div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Job</div>
        </div>
        <div class="col-xs-11 formFeildText">
            @Html.DropDownListFor(p => p.JobID, ViewBag.Jobs as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Type</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.TypeID, ViewBag.Types as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Description</div>
        </div>
        <div class="col-xs-11 formFeildText">
            @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Department</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.DepartmentID, ViewBag.Departments as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Division</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.DivisionID, ViewBag.Divisions as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Area</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.AreaID, ViewBag.Areas as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Priority</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.PriorityID, ViewBag.Priorities as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Status</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.StatusID, ViewBag.Status as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Due</div>
        </div>
        <div class="col-xs-5 formFeildText">
            @Html.TextBoxFor(p => p.Due, new { @class = "form-control date-picker", data_value = @ViewBag.DateString, id = "due" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Hours</div>
        </div>
        <div class="col-xs-5 formFeildText">
            @Html.TextBoxFor(p => p.Hours, new { @class = "form-control number-spinner" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Creator</div>
        </div>
        <div class="col-xs-8 formFeildText">
            @Html.DropDownListFor(p => p.CreatorID, ViewBag.Creator as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3 formLabelTextMobile">Notes</div>
        </div>
        <div class="col-xs-11 formFeildText">
            @Html.TextAreaFor(p => p.Notes, new { @class = "form-control", row = "10" })
        </div>
    </div>
    <div class="form-group">
        <div class="headerText"></div>
    </div>
}
